[2015-11-12 23:38] serundeputy opened #1 "Installation Question"
* mkdir commands (This may already exist, if so continue.)
* wget https://github.com/quicksketch/backdrop-drush/archive/master.zip
* unzip master.zip -d backdrop

should we `cd commands` and then do the `wget` so that the backdrop directory ends up in the commands directory?

[2015-11-13 11:11] sirkitree opened #2 "Backdrop version"
Does this require a certain version of Backdrop?

[2015-11-13 11:29] sirkitree opened #3 "Fatal Errors"
I followed the [installation instructions](http://docs.drush.org/en/master/install/) for Drush and updated my local copy of Backdrop to the latest 1.x version.

I then followed your instructions in the README for this repo, creating the `commands` dir in `~/.drush` and checking out this repo (instead of a wget of it's zip).

Within my backdrop installation dir, if I run `drush --version` I get "Th

[2015-11-13 16:45] quicksketch commented on #3
Doh! Yeah one issue has been that Drush's error log handler doesn't work yet. So you encounter _any_ error, instead of a _useful_ message you get that load of garbage. To get a useful message and find what the problem really is, you can:
- Open up your directory where drush is installed
- Find the `includes/drupal.inc` file and the `system_watchdog()` function with in it.
- Add a `return` right at

[2015-11-13 16:50] quicksketch commented on #2
Hi @sirkitree! Actually not really, all the changes are in Drush and the code in this repo. It should work with pretty much any version of Backdrop once we figure out what's happening for you in https://github.com/quicksketch/backdrop-drush/issues/3.

[2015-11-13 16:53] #2 closed

[2015-11-13 17:44] sirkitree commented on #3
Thanks! That totally got me to where I could debug the problem (not drush-based at all) and now the cache clears correctly.

[2015-11-13 17:44] #3 closed

[2015-11-13 20:19] quicksketch commented on #3
w00t! Yay!

[2015-11-19 03:59] quicksketch commented on #1
Yes, that sounds like a better idea, I'll update the readme.

[2015-11-19 04:01] quicksketch commented on #1
Thanks fixed in https://github.com/quicksketch/backdrop-drush/commit/21c8394c806f869ef108e14fc6c071d4feca7fd1.

[2015-11-19 04:01] #1 closed

[2015-12-17 21:16] jenlampton opened #4 "Add support for drush dl"

[2015-12-17 21:17] jenlampton opened #5 "Add support for drush up"

[2016-01-01 16:32] serundeputy opened #7 "Add support for drush en (enable) and drush dis (disable)"
Allow Backdrop CMS users to enable and/or disable modules from the command line.

 * `drush en {module_name}`
 * `drush dis {module_name}`

----

* ~~PR https://github.com/backdrop-contrib/drush/pull/40~~
* ~~PR: https://github.com/backdrop-contrib/drush/pull/51~~
* ~~PR: https://github.com/backdrop-contrib/drush/issues/52~~
* ~~PR: #80~~
* PR: https://github.com/backdrop-contrib/drush/pull/98

[2016-01-01 16:36] serundeputy opened #8 "The drush command 'cron' could not be executed."
Running the command `drush cron` fails.

output:
[code]

[2016-01-01 16:47] serundeputy opened #9 "When backdrop boot classes are present drush does not work on drupal 7 sites."
This is the error trying to use drush on a drupal 7 site when the backdrop-drush repo is present in `~/.drush` folder.
[code]

Maybe we can fix this so we can use one drush for drupal and backdrop?

[2016-01-03 21:44] serundeputy commented on #9
One way around this if you need to use drush on drupal and backdrop sites is to download a second copy of drush from github.com/drush-ops/drush and put the contents of this repo inside the `commands` folder of the new drush instance.

For example:
- `cd ~`
  - change to your home directory
- `git clone git@github.com:drush-ops/drush.git my_drush`
  - you should change `my_drush` to what you would

[2016-01-08 23:45] serundeputy opened #10 "drush updb hangs"
using `drush updb` to run update hooks hangs.

* write an update hook
* run `drush updb`
* check your processes; the php process runs away with ~100% cpu and hangs.

:(

[2016-01-09 05:34] dboulet commented on #10
I’m seeing this exact same issue. I have `drush updb -y` in my deployment script, when there is a pending update the deployment never completes and CPU usage on the server skyrockets.

[2016-01-22 06:52] quicksketch commented on #9
I can reproduce this issue. I have Backdrop's Drush integration in `~/.drush/extensions/backdrop`. Drush is installed elsewhere (in `~/Scripts/drush8/`). But Drush works fine both with Drupal 7 and Backdrop.

Yeah this is actually what I started out doing. But the problem for many Drush users may be that Drush is now delivered as a `.phar` file, so it's not possible to navigate as a normal directo

[2016-01-22 07:06] quicksketch commented on #8
Looks like this is because you weren't in a Drupal/Backdrop directory at the time. From the looks of it you were in the `backdrop-drush-master` directory. So this error is correct. Reopen if I've misunderstood.

[2016-01-22 07:18] #10 closed

[2016-01-22 07:18] quicksketch commented on #10
Fixed in https://github.com/backdrop-contrib/drush/commit/2e7cf19f302171e633561579c844466f153c86a1.

The problem was that for some reason `system` module was always added into the list of updates to be executed. But if system.module didn't have any updates, then Backdrop would get stuck in an infinite loop trying to determine what update dependencies were needed. Removing this empty array of updat

[2016-01-22 07:23] quicksketch commented on #9
Could you try updating your Drush to the latest 8.0.x branch and see if this still happens?

[2016-01-22 07:26] quicksketch commented on #4
I merged in @serundeputy's `drush dl` support and then reorganized the project to accommodate for a larger number of commands (since it looks like we'll have to write quite a few of them).

While the current implementation works, it's limited compared to the `drush dl` for Drupal:
- No support for options like `--select`.
- Can't replace existing modules with newer versions.
- Doesn't work with th

[2016-01-23 20:36] serundeputy commented on #8
Yeah; I think you are right about the above post, but I think I copied the wrong thing; here is an attempt from inside a backdrop root:

[code]

one difference is that I have my drush instance installed in `root/of/drush/instance/commands` folder whereas I believe yours is in `~/.drush/commands` folder ... maybe that makes a difference?

[2016-01-23 23:07] serundeputy commented on #9
- I moved Backdrop's Drush extension to : `~/.drush/extensions/backdrop`
- checkout the `8.0.x` branch of drush
- did a pull: `git pull origin 8.0.x`
- did : `composer update`

Drush does not work with my Drupal 7 sites with this setup, but then I moved the Backdrop Drush extension out of the drush install, and drush `8.0.x` does not work with my drupal 7 sites either.

If I checkout drush `6.x` t

[2016-01-23 23:25] serundeputy commented on #8
If I basically remove the whole function: `drush_watchdog_severity_levels` from environment.inc I can get cron to run and log as have been run in `/admin/reports/dblog`

[code]

That obviously does not seem like a solution, but it is more information on the problem.

[2016-01-23 23:47] serundeputy opened #11 "Enhance drush dl support; add --select functionality."
The command `drush dl --select {some_module}` presents the user with a menu of versions of {some_module} to choose from.

for example:
[code]

We should add this functionality to the backdrop extension of drush dl probably in the file `backdrop_pm.drush.inc` in the function `drush_backdrop_pm_download` or as a helper function.

[2016-01-23 23:57] serundeputy opened #12 "Enhance drush dl; currently dl only works with modules"
If the specified project is a theme or layout (and it has a release) the project is downloaded into the /modules directory.

We need to check if the project is a theme or a layout and put it into the appropriate directory:

* /themes for a theme
* /layouts for a layout

[2016-01-24 00:03] serundeputy commented on #4
@quicksketch thanks for merging!

  I've opened a new issue for this: https://github.com/backdrop-contrib/drush/issues/11

I'm not sure about this one; I put in logic to check if a module is already installed and not overwrite it if is.  If/when I need to update a module I've always used `drush up {some_module}` to do that.  If anyone feels strongly about this please open a separate issue specifyi

[2016-01-24 00:03] #4 closed

[2016-01-26 05:41] quicksketch commented on #8
Thanks for reopening. I'm running the latest 8.0.x branch, so perhaps this has been fixed over in Drush? It's odd to me that having the Backdrop extension would break the integration with Drupal 7. So if you remove the Backdrop extension, Drush 8 starts working with Drupal 7 again? Is it possible your version of Drush just isn't working with Drupal 7 at all?

[2016-01-27 03:41] quicksketch commented on #9
Actually now that I've tried it, I'm getting a mix of non-working results as well. I believe I must have had two versions of Drush active when I was testing (I have aliases for drush6, drush7, and drush8). I'll continue looking into this and see what we can do to prevent Backdrop's extension from botching drush on D7.

[2016-01-31 05:06] jenlampton commented on #4
I'm unable to get drush dl to work at all on the latest -master from github. Here are my errors:

[code]

[2016-01-31 18:14] serundeputy commented on #4
Hi @jenlampton

Here are the environment set up that works for me:
- Install independent copy of drush
- Make an alias to the new copy of drush
- Download the backdrop-contrib drush extension

http://serundrop.staffordtavern.com/using-drush-backdrop-cms

hope that helps.

Maybe if you can point out the differences in your environment we can track down the issue?

thanks,
~Geoff

[2016-01-31 19:29] jenlampton commented on #4
At the moment
- I'm using drush 8 (will update to latest head shortly to test that)
- alias is `drush8`
- contrib version of drush commands installed in `/.drush/commands`

[2016-01-31 19:35] jenlampton commented on #4
THAT WAS IT. I must have not been on a new enough drush 8 version.  Thank you @serundeputy :)  You can now ignore my comment! :)  and YAY DRUSH!!!

[2016-02-01 00:10] serundeputy commented on #11
@quicksketch; @jenlampton If you guys could give this a pass if we get RVTBC we can merge it in.

or of course give feedback if it does not work as expected.

Usage:

[code]

presents user with a menu of possible releases for `{some_module}`

patch: https://patch-diff.githubusercontent.com/raw/backdrop-contrib/drush/pull/13.patch
thanks,
~Geoff

[2016-02-02 00:22] jenlampton commented on #8
I'm on the latest drush 8 too and I get:
[code]

[2016-02-02 00:28] jenlampton commented on #9
I'm running with four versions of drush (don't ask) all aliased.

With the drush commands in `~/.drush/commands` drush 8 works on backdrop, both drush 8 and drush 7 do not work on Drupal 7. When I move the commands into my drush 8 instance, drush 7 starts working again. At least that's something :)

[2016-02-02 00:57] serundeputy commented on #12
https://github.com/backdrop-contrib/drush/pull/13

Added support downloading themes and layouts; I honestly do not know how to install a layout though :worried: ;; it downloads to the `/layouts` directory, but I do not know what to do from there.

`themes` are working as I would expect downloading to the `/themes` directory.

[2016-02-02 00:59] serundeputy commented on #11
https://github.com/backdrop-contrib/drush/pull/13

this PR now also solves #12

[2016-02-02 21:37] serundeputy commented on #9
vid using drush with Backdrop CMS and Drupal
http://serundrop.staffordtavern.com/using-drush-backdrop-cms

[2016-02-03 14:09] #11 closed

[2016-02-03 14:11] serundeputy commented on #12
closing
fixed via merge of: https://github.com/backdrop-contrib/drush/pull/13

[2016-02-03 14:11] #12 closed

[2016-02-05 11:34] MrHaroldA opened #14 "This breaks drush make on Drupal (7) sites"
[code]

Moving backdrop-drush out of .drush/commands solves these error messages.

[2016-02-05 11:54] serundeputy commented on #14
hello @mrharolda thanks for reporting this.

i think this is the same issue as #9 here is how i solve that problem for now:http://serundrop.staffordtavern.com/using-drush-backdrop-cms

if you agree i think we should close this and move your comments to #9 and continue to work over there.

if you disagree leave this open and please state why.

thanks

[2016-02-05 12:08] MrHaroldA commented on #14
I'd say that this is a separate issue as I don't have any problem with base classes. Without looking into the code; backdrop-drush should not act on anything if Backdrop isn't found.

[2016-02-10 13:04] AlexShapka opened #15 ""drush dl" command places modules in backdrop root"
I tried the `drush -y dl varnish --dev` command today and got:

[code]

when it was supposed to place the downloaded module in /home/spat/www/modules/varnish instead.

[2016-02-10 14:18] serundeputy commented on #15
Hello @AlexShapka thanks for reporting.

I have a few questions for you.

Were you in a backdrop root directory when you issued the command: `drush -y dl varnish --dev`?

Because there is no `varnish` module in backdrop-contrib: https://github.com/backdrop-contrib, this leads me to believe that since drush couldn't detect backdrop it downloaded a drupal 8 module.

In a backdrop site the command 'd

[2016-02-11 21:19] wesruv opened #16 "`drush uli` Support"
That's one I use constantly, would love to see it working for us :smile:

[2016-02-11 23:14] serundeputy commented on #16
@wesruv have a go at this:
https://github.com/backdrop-contrib/drush/pull/17
https://github.com/backdrop-contrib/drush/pull/17.patch

usage:

[code]

If you try it out and give it a RTBC I'll merge it.

thanks,
~Geoff

[2016-02-13 03:14] AlexShapka commented on #15
Yes, I am absolutely sure I was in Backdrop's root when running drush command. I've just tested it again:

[code]

On the contrary it can not find the redirect module at all:

[code]

My environment:

[code]

[code]

CentOS Linux release 7.2.1511 (Core)

I am afraid drush is not bootstrapping at all. Maybe Backdrop can not work with the latest version of drush?

[2016-02-13 13:57] serundeputy commented on #15
Hi @AlexShapka.

Thanks for the additional info.

Looks like it is still interpreting your site as a D8 as seen by the `8.x`

I suspect that drush is not recognizing your backdrop drush extension.  There are two ways to get it to recognize the extension.
1. Download this: https://github.com/backdrop-contrib/drush/archive/master.zip and extract it into your .drush folder in your home directory:  `~

[2016-02-17 02:51] wesruv commented on #16
Hoooooray! It worked!

Your video demo was great, thanks so much for making that!

[2016-02-17 03:47] #16 closed

[2016-02-17 03:48] serundeputy commented on #16
Thanks @wesruv RTBC and merged!

glad the vid and `uli` worked!

[2016-02-18 20:28] molenick opened #18 "drush dl fails with wget --show-progress"
Great to see some major progress on backdrop-drush! :)  I'm running into an issue where drush dl is failing like so:
[code]
Using --show-progress is nice, but it looks like it isn't supported in my version of WGET.  I'm on Xubuntu 14.04, and here's the output of wget -V:

[code]

I'm going to fork, delete the the --show-progress flag from the wget call and see how that does.

[2016-02-18 20:37] molenick commented on #18
I forked, removed the flags and now it works.  Not sure if there's a way to conditionally use --show-progress if it's available, but to me it seems like pretty trivial functionality (I can't think of instances where I've been waiting on drush dl to complete).

Putting in a pull request, do with it as you wish! :)

[2016-02-18 21:21] jenlampton commented on #14
I think this may be a dupe of https://github.com/backdrop-contrib/drush/issues/9

[2016-02-19 13:55] serundeputy commented on #18
Thanks @molenick !
Thanks for your supportive words and for trying drush with backdrop.
I think this is a good change.  I'll pull it down this weekend test and if all is well merge.

Thanks for the `PR`!

~Geoff

[2016-02-19 20:09] molenick commented on #18
Thanks, it's my pleasure.  I'd love to work on backdrop-drush more as I am able.  I'm not super-familiar with drush's internals, but I've used it a long time and have written a lot of custom drush commands.  Please let me know any way that would be useful for me to plug in.

Matt

[2016-02-19 21:20] serundeputy commented on #18
That's great @molenick

Many of the commands have to be rebuilt to work with backdrop; so if you pick your favourite one, make an issue here and in your spare time work on a `PR` for it.   For example it would be nice to have `drush pm-list`, but pick your favourite.

thanks again!
see you soon,
~Geoff

[2016-02-21 14:11] serundeputy commented on #18
thanks @molenick merged!

[2016-02-21 14:11] #18 closed

[2016-02-21 14:57] serundeputy opened #20 "Provide some feedback on success or failure of drush dl command."
In #19 we took out the `--show-progress` flag of wget; that was the only indication on a successful transaction.

Add in success/error messages based on the existence of the project directory at the end of `dl` execution.

[2016-02-21 15:03] #20 closed

[2016-02-24 20:46] greg-1-anderson opened #23 "Drush 9 is coming"
Please be aware that Drush 9 will be coming soon.  When it is release, Drush 8 development will continue on the 8.x branch, and master will be Drush 9.

This will be very important for Backdrop folks who want to track the latest and greatest Drush, because the backdrop integration will break in Drush 9.  Not to worry, it will come back better than ever, with more flexibility for Backdrop Drush to

[2016-02-24 20:48] serundeputy commented on #23
@greg-1-anderson thanks; I'll update the README.md!

[2016-02-24 21:38] jenlampton commented on #23
:+1:

[2016-03-13 23:55] jenlampton commented on #8
I just upgraded to the lastest stable version of drush 8 - `drush 8.0.5` and this is the error and stack trace I get when running `drush cron`. My backdrop-drush commands are located in `~/.drush/commands` like @serundeputy.

[code]

[2016-03-14 00:05] jenlampton commented on #8
Yes, this is my situation exactly. Drush 8.0.5 does not work with Drupal 7. Here is the error I get:

[code]

Update: If I do a `git clone` and `composer update` instead of installing with the .phar, things seem to work as expected. See related: https://github.com/drush-ops/drush/issues/657

[2016-03-14 00:15] jenlampton commented on #8
Now that Drush 8 is working with Drupal 7 without the Backdrop commands, I added the commands to test again. When I do a `drush cron` from within Drupal 7, I get the following error:

[code]

I think this is becoming a duplicate of https://github.com/backdrop-contrib/drush/issues/24

[2016-03-14 00:17] jenlampton commented on #8
I think this is becoming a duplicate of https://github.com/backdrop-contrib/drush/issues/9

[2016-03-14 00:20] jenlampton commented on #9
I am running the latest version of Drush-master (which, btw, is working with Drupal 7 without the Backdrop commands). When I do a `drush cc drush` from within **Backdrop**, I get the following error, the same as I see on Drupal 7 sites:

[code]

[2016-03-14 00:21] jenlampton commented on #9
I grepped through the codebase and couldn't find that function anywhere in drush. Perhaps it has been removed in the latest -master? See https://github.com/backdrop-contrib/drush/issues/24 for more on that.

[2016-03-14 00:23] jenlampton opened #24 "Call to undefined function drush_get_bootstrap_object()"
When using the latest version of drush 8 (master) the backdrop commands throw the following errors:
[code]

[2016-03-14 00:24] serundeputy commented on #8
@jenlampton I think that the information you are seeing is dupe of #9, however I've never gotten the command:

[code]

to work in my Backdrop sites.

The best configuration I've found so far is a separate drush install and put the backdrop-drush/extension into `NEW_DRUSH_ROOT/commands/backdrop`

Having said that even with this configuration `drush cron` does not work for me.

[2016-03-14 00:40] jenlampton commented on #24
It looks like this function has been removed from the latest drush master, so in order for Backdrop commands to work we will need to be on the 8.x branch (for now). I am going to file an update to the readme to this effect.

[2016-03-14 00:51] jenlampton commented on #24
I have filed a PR to update the readme to specify which version of Drush folks should be using. Looks like it's the tip of the 8.x branch we need atm. I also added that we can drush dl to the list of commands while I was in there :)

[2016-03-14 01:03] jenlampton commented on #9
Now that I am using the correct branch for drush (the 8.x branch) Drush 8 works on Drupal 7 even when the Backdrop commands are present.  Anyone else suffering this fate, please check your drush version and branch.

I'm going to close this issue for now, but please re-open if the problem reappears.

[2016-03-14 01:03] #9 closed

[2016-03-14 01:04] jenlampton commented on #14
@MrHaroldA would you please double check that you are running the latest tip of the 8.x branch of Drush? That change seemed to fix the other issues with Drush not working on Drupal once the Backdrop commands had been installed.

[2016-03-14 01:14] jenlampton opened #26 "Add support for `drush status`"
Add support for `drush status` so that we can tell if Drush is working or not.

[2016-03-14 01:57] jenlampton commented on #15
@serundeputy I'm seeing this behavior too, using the latest 8.x branch of Drush and the latest set of commands.

[2016-03-14 01:59] jenlampton commented on #8
Now that I have my drush working again, I can confirm that `drush cron` is no longer working for me as well.

[code]

[2016-03-14 08:25] MrHaroldA commented on #14
I'm using 8.0.2, as 8.0.3 acted a bit weird here. I'll check if the error posted above is still present; I believe I was on 8.0.1 when I posted this.

[2016-03-23 13:07] MrHaroldA commented on #14
I updated to Drush 8.0.5 today; and this is the output of drush dl drupal:

[code]

After removing the Backdrop commands from Drush, this is the output of the same command:

[code]

I get the same wget error when using drush make:

[code]

Updating to drush/dev-master just results in fatal errors:

[code]

[2016-03-23 21:11] #24 closed

[2016-03-23 21:17] serundeputy commented on #14
@MrHaroldA thanks for the additional info; hopefully that can help us dig through these issues.

One thing I notice is that you are using official releases of drush such as `8.0.5` at this time the backdrop/drush extension only works on the `8.x` branch of the drush project.  I would suspect if that even on the `8.x` branch with the current state of backdrop/drush extension may still break your Dr

[2016-03-23 21:54] serundeputy commented on #23
Thanks @greg-1-anderson we've updated the README.md to reflect dependency on the `8.x` branch.

~Geoff

[2016-03-23 21:54] #23 closed

[2016-03-23 22:54] serundeputy commented on #26
@jenlampton this adds limited support:

[code]

but, for example it does not show whether or not you are connected to the DB.  It also is not respecting the ailases `st` or `status` you currently must use `backrop-core-status`.

If someone wants to pull down the patch and give this a spin: https://patch-diff.githubusercontent.com/raw/backdrop-contrib/drush/pull/27.patch

thanks,
~Geoff

[2016-03-25 20:39] quicksketch commented on #8
I ran into this error as well, as reported by Jen in the previous comment.

The problem here is that `drush cron` calls `backdrop_cron_run()`, which eventually runs this:

[code]

That in itself won't _normally_ cause a problem. But Drush has an implementation of `hook_watchdog()` in its own code: https://github.com/drush-ops/drush/blob/91d697e387be4955a48c49b2e8eb80e2a8007734/commands/runserver/r

[2016-03-25 20:55] quicksketch commented on #8
I pushed https://github.com/backdrop-contrib/drush/commit/d5bea1ff4e37c7fa2f50571e57f082e7a46c020f, which as far as I can tell resolves this problem.

Please reopen if it still seems to occur.

[2016-03-25 20:55] #8 closed

[2016-03-25 21:27] quicksketch commented on #14
I think I see what's happening here.

Our code is all correct as far as replacing Drupal commands with Backdrop ones. And we're not accidentally replacing commands on D7 in our alternations.

What seems to be happening is that `_drush_invoke_hooks()` builds an extensive list of possible validation hooks. Our extension name is "backdrop", and Drush apparently is invoking a hook with the name of `dr

[2016-03-25 21:48] quicksketch commented on #14
I've re-namespaced all our functions to prevent these cache collisions: https://github.com/backdrop-contrib/drush/commit/7d8d81cf4b627a24c43275c1c278f1be17496ed7

For the sake of preventing this issue again, I've omitted the word "drush" entire and used the word "command" for all our command callbacks. That should prevent any more accidental collisions. As it was, most of our command callbacks wer

[2016-03-25 21:48] #14 closed

[2016-03-25 21:57] quicksketch commented on #8
Oops, I went a little overboard and broke the `drush cc` command. Restored in https://github.com/backdrop-contrib/drush/commit/73ffce61d7cc6b5354d18954f0bbf938a3768fd8.

[2016-03-25 22:16] serundeputy commented on #26
#14 re-namespacing allowed this to report Backdrop Bootstrap in st allowed this one access `DRUSH_BOOTSTRAP_BACKDROP_CONFIGURATION`

Ready for community testing.
patch: https://patch-diff.githubusercontent.com/raw/backdrop-contrib/drush/pull/27.patch

[2016-03-25 22:24] jackaponte commented on #26
I just tested the patch on my Backdrop 1.3.3 site (Drush 8.0.5); `drush status` works nicely!

RTBC

[2016-03-25 22:29] serundeputy commented on #26
Thanks @jackaponte ! merged into `master`.

[2016-03-25 22:29] #26 closed

[2016-03-26 00:53] quicksketch commented on #16
Here's a follow-up for this issue: https://github.com/backdrop/backdrop/pull/1308

That would allow login without changing the password, as it worked in D7.

[2016-03-29 09:26] MrHaroldA commented on #14
A preliminary report shows that my errors have been solved by the re-namespace! :D

[2016-04-01 18:39] pirog opened #29 "Can haz release?"
Love all things backdrop and this project in particular.

We are working on adding a "backdrop ready" version to the `drush/drush` docker image however, for our purposes it would be ideal for us to peg to a particular version instead of pulling directly from whatever is at the top of MASTER.
https://github.com/RobLoach/drush-docker/pull/15

Any issue with pushing a tag here? even if its like 0.0.1

[2016-04-01 20:36] jenlampton commented on #29
I think a tag is a good idea. 1.0.0-alpha sounds like a good place to start :)  @serundeputy should we start a META of 1.0.0 release-blockers? or is that pretty much our whole queue at this point?

[2016-04-02 00:04] pirog commented on #29
Before you do that it would be great to get this in https://github.com/backdrop-contrib/drush/pull/30 !

[2016-04-02 10:34] herbdool opened #31 "Update readme instructions to new path of git repo"
Right now it still has the path to quicksketch rather than backdrop-contrib.

[2016-04-02 21:35] serundeputy opened #32 "Generate boilerplate code for module developers."
Generate:
- `my_module.info`
- `my_module.module`

files from prompts for:
- Module name
- Module description
- Package (optional)

use:
  `drush bp module` ==> spin up module

[2016-04-07 19:57] serundeputy commented on #31
updated; good call! thanks @herbdool
https://github.com/backdrop-contrib/drush/blob/master/README.md

[2016-04-07 19:57] #31 closed

[2016-04-07 23:25] serundeputy commented on #29
Thanks @jenlampton and @pirog .

I've merged in #30 and I'll cut a release tag now.  I'll go with `0.0.1` as per Semantic Versioning http://semver.org/ this indicates a dev version; It works, has some useful features, but is subject change oft.

thanks,
~Geoff

[2016-04-07 23:28] serundeputy commented on #29
Just cut `0.0.1` thanks! closing.  https://github.com/backdrop-contrib/drush/releases

[2016-04-07 23:28] #29 closed

[2016-04-07 23:32] pirog commented on #29
yay! awesome!

[2016-05-04 14:01] pirog opened #34 "Let's get `drush si` to work"
Probably not as huge of a priority as other things but wanted to get a ticket in. Among other things this would be useful for running Kalabox functional tests like:

[code]

[2016-05-12 01:50] serundeputy opened #35 "drush st; returns `Drupal Settings File:` should be `Backdrop Settings File:`."
drush st; returns `Drupal Settings File:` should be `Backdrop Settings File:`.
`PR` coming up.

[2016-05-12 01:53] #35 closed

[2016-05-17 01:25] ghost commented on #3
@quicksketch Is this still the recommended solution for when you get the error message from the original post?

[2016-05-17 01:37] BWPanda opened #37 "Support multisite setups"
When running `drush dl devel` from /backdrop/sites/[sitename] I get the following message:

It should download to /backdrop/sites/[sitename]/modules instead.

----

PR @BWPanda https://github.com/backdrop-contrib/drush/pull/143

[2016-05-21 19:15] serundeputy commented on #5
I've added support for updating Backdrop itself, but not modules yet.

`drush up backdrop`
- Tells you your current version of Backdrop and the proposed new version
- Asks you if you really want to upgrade, with some warnings
- Creates a `drush-tmp` directory in your BACKDROP_ROOT
- Copies (backup) your current BACKDROP_ROOT/core folder to `~/.drush/core-$current-version` directory
- Downloads the

[2016-05-21 23:54] jenlampton commented on #5
Yes!
- -
  Please excuse brevity and typos. Message typed with my thumbs from an Open
  Source OS.
  On May 21, 2016 12:15 PM, "Geoff St. Pierre" notifications@github.com
  wrote:

[2016-05-22 13:31] serundeputy commented on #5
Added support for modules.

`drush up project_name`

As of now you can use `drush up` for backdrop core and modules, however the module has to have an official release on github for this to work.
~Geoff

[2016-05-22 15:05] serundeputy commented on #7
This PR: https://github.com/backdrop-contrib/drush/pull/40 is calling the Backdrop API `module_enable` and it is setting the status of the module to 1 in the DB, but is not running the install functions.  So, for example the config forms of the modules are not available in the backdrop UI.

patch: https://github.com/backdrop-contrib/drush/pull/40.patch

For example run these commands (with the pat

[2016-05-22 20:56] jenlampton commented on #5
Interesting, this is the response I got when updating core only:

[code]

Messaging indicates it was both a success and a failure. Though it was clearly a failure - my site is borked because there is no core directory at all.

1) We should find out why that success message was printed and prevent that :)

2) I'm a little weary about putting the downloaded version of backdrop inside another version

[2016-05-22 23:15] serundeputy commented on #5
Thanks for the feedback @jenlampton!

I'll work on having the backdrop download to the `~/.drush` folder.  It looks like your download did not work at all :(.

Can you verify the following:
1.  your system has `wget` on it (`which wget`)
2.  That `drush dl` works on your system

I'll also work on the mixed fail/success messaging.

thanks for reviewing!
~Geoff

[2016-05-22 23:53] serundeputy commented on #5
I've updated the PR to:
- Check for core folder before outputting success message
- Move the tmp downloads to safer ~/.drush location
- Preface backup files  with site_name-

@jenlampton up for another review?  Although none of this addresses if you have `wget` or not.

~Geoff

[2016-05-22 23:58] serundeputy commented on #37
Thanks for the report @BWPanda!

I have little experience w/ multisite in Drupal and none in Backdrop 😦 So, It'll probably take me a while to get to this and setup a multisite to test against, but this is what I understand needs to happen here:
1.  Check where the user is executing the `drush dl` command from
   Is it a generic location, or in `/backdrop/sites/[sitename]` if we are in `/backdrop/s

[2016-05-23 00:09] jenlampton commented on #5
@serundeputy it looks like drush dl does not work for me either. It has the same problem:

[code]

I definitely have wget, I use it all the time:

[code]

It looks like I am having a similar issue as https://github.com/backdrop-contrib/drush/issues/18, though it looks like that PR has been merged. I'll keep diging.

[2016-05-23 12:20] serundeputy commented on #5
@jenlampton

line 284 of `backdrop_pm.drush.inc`:

[code]

maybe your version of wget does not support one of these flags?  Perhaps try commenting out or removing the flags `--quiet` and `-P` and see if you get any further.  Or issue the command directly from your command line with the flags and see if it succeeds or fails.

For reference my version of wget:

[code]

~Geoff

[2016-05-26 00:08] serundeputy commented on #5
I checked into how drush core handles this and they have a validate function checking if the user has wget or curl and uses the one they have; and gracefully fails if they have neither.

I'm going to implement this for the backdrop extension `drush up` command as well.

[2016-05-29 14:15] serundeputy commented on #5
I've added a validation function to the `drush dl` and `drush up` commands to see if `wget` is available on the system and bail if it is not.

@jenlampton can you see if with this patch: https://patch-diff.githubusercontent.com/raw/backdrop-contrib/drush/pull/38.patch you are either successful or it bails complaining about no `wget`.

If it bails can you copy and paste the output of the commands:

[2016-05-29 14:19] serundeputy opened #41 "Add support for `drush dl backdrop`."
The current implementation of backdrop drush commands is to swap out the drush core version of the command with the backdrop version once a backdrop install is detected, but in the case of downloading backdrop itself you do not have a backdrop install yet.

We can write a new command say: `drush dl-backdrop` or find someway of detecting the argument `backdrop` in `drush dl backdrop` command.

Prob

[2016-06-10 01:20] jenlampton opened #42 "drush 7 throws errors when commands are present in ~/.drush"
I run many versions of Drush, and when I have the backdrop commands inside my `~/.drush/commands` directory, I cannot run drush 7 commands without recieving the following error:

[code]

Would it make sense to have these files only loaded when using a suitable version of Drush? Is that even possible?

[2016-06-10 03:22] jenlampton commented on #5
before patch, `drush dl devel` gives me:

[code]

after the patch I get exactly the same error. No change. But I have wget so that is not the issue here. Not sure why the files are not downloaded tho.

[2016-06-28 22:42] serundeputy commented on #5
@jenlampton is `wget` in your `$PATH`?

if you do `which wget` you should get something like `/usr/local/bin/wget` and the path `/usr/local/bin` or whatever your path is has to be in your `$PATH` variable in order for drush to invoke it via the command line php.

can you check the output of `which wget` and `echo $PATH`?

thanks,
~Geoff

[2016-06-28 22:46] jenlampton commented on #5
Yes.

`/usr/bin/wget`

[code]

[2016-06-28 23:08] serundeputy commented on #5
.... hmm ...

does this work outside of drush:

[code]

?

[2016-06-28 23:10] serundeputy commented on #5
if so can you try to put this in a file like `exec.php`

[code]

say in your home directory then do `php exec.php` and see if that  works?

[2016-06-28 23:27] jenlampton commented on #5
no, `wget --quiet https://github.com/backdrop/backdrop/releases/download/1.4.3/backdrop.zip` does not work from the command line.  Nor does `wget https://github.com/backdrop/backdrop/releases/download/1.4.3/backdrop.zip`
Here is the relevant part of the error:

[code]

[2016-06-28 23:29] jenlampton commented on #5
This did work for me:
`wget -O backdrop.zip https://github.com/backdrop/backdrop/releases/download/1.4.3/backdrop.zip`

[2016-06-28 23:30] jenlampton commented on #5
as did this:
`wget --quiet -O backdrop.zip https://github.com/backdrop/backdrop/releases/download/1.4.3/backdrop.zip`

[2016-06-29 00:19] serundeputy commented on #5
@jenlampton I've updated the PR to use `--directory-prefix` rather than the `-P` flag; if that does not work I will have to rework some of the logic to get `-0` to work; which I will definitely do if this does not work.

Please give it a go.  Thanks for all your help ... oh could you tell me which version of `wget` you have?  `wget -V`

thanks,
~Geoff

[2016-06-29 02:01] jenlampton commented on #5
`GNU Wget 1.12 built on darwin10.3.1.`

No dice with --directory-prefix:.  `drush8 dl smtp` gives

[code]

Also it's `-O` not `-0`  (use the letter not the number)

[2016-06-29 21:30] serundeputy commented on #5
@jenlampton I've updated the PR to use the `-O` flag and tested `drush up backdrop` and `drush dl on_the_web` which are working for me with wget version 1.17.1

Please test again and see if it works for you!

thanks,
~Geoff

[2016-06-29 21:38] jenlampton commented on #5
it woooooooooooorks!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :) :) :)

[2016-06-29 22:34] serundeputy commented on #5
@jenlampton did you try `dl` and `up`?  If they both work I'll merge this; if not i'd like to know ;)

thanks again! teamwork!

[2016-06-29 23:17] jenlampton commented on #5
they both work!

[2016-06-29 23:18] jenlampton commented on #5
They both downlad the files from backdropcms.org. But actually the core update placed a new core directory inside my existing core directory. So I guess drush up didn't _quite_ work.  I now have a `docroot/core/core` and all my old core files are still there.

[2016-06-29 23:39] serundeputy commented on #5
ok; I'll take a look at that should be an easy fix :)

[2016-06-30 16:08] serundeputy commented on #5
@jenlampton
I was unable to replicate this problem.   Here is what I did:
1. Download a copy of Backdrop 1.4.2 https://github.com/backdrop/backdrop/releases/download/1.4.2/backdrop.zip
2. Install it
3.  Check status report and/or `drush st` reports 1.4.2
4.  Run `drush up backdrop`
5.  Check status report and/or `drush st` reports 1.4.3
6.  Check docroot/core directory
   - all appears fine no add

[2016-06-30 16:42] jenlampton commented on #5
Where were you when you ran `drush up backdrop`?  I was inside the backdrop docroot.

[2016-06-30 19:02] serundeputy commented on #5
I was also in the docroot.
I just tried from in the `docroot/modules` folder ... still expected behaviour one core folder in `docroot/core`.

Hmmm ... there must be something that is different.

[2016-06-30 21:06] jenlampton commented on #5
Interesting, `drush8 updb -y` works with no problem, I get `No database updates required.` But that part of `drush8 up backdrop` fails. Here's my complete output:

[code]

[2016-06-30 21:20] jenlampton commented on #5
Okay stepping through everything drush goes, I get an error on this step:
`mv ~/Sites/jeneration/backdrop/docroot/core ~/.drush/Jeneration Web Development-core-1.3.3`
returns:

[code]

[2016-06-30 21:23] jenlampton commented on #5
Interesting, it didn't like the spaces in the site name.   Changing line 307 from
`$site_name = config_get('system.core', 'site_name');`
to
`$site_name = strtolower(str_replace(' ', '_', config_get('system.core', 'site_name')));`
fixed it for me. No core in core anymore!

[2016-06-30 22:38] serundeputy commented on #5
@jenlampton that makes sense; thanks for discovering that!

[2016-06-30 22:47] serundeputy commented on #5
@jenlampton great; i've updated the PR to reflect your spaces fix; and allowed for either:

[code]

If you have time for another test I think we can merge this one. :)

thanks,
~Geoff

[2016-06-30 23:34] jenlampton commented on #5
well, no dice:

[code]

edit: nevermind, I needed to `drush8 cc drush` seems to be working now...

[2016-06-30 23:40] jenlampton commented on #5
Interesting, so it seemed to replace the files this time, but `updb` didn't run. I think that's because in the code it specifically calls `exec("drush updb -y");` which, in my case, won't work because `drush` is drush 7 and I use `drush8` instead.

Is there a way we can run `updb` without using the drush command here?  Can we call `backdrop_command_updatedb()` directly?

[2016-07-01 00:13] serundeputy commented on #5
@jenlampton good call.  I've updated to call `backdrop_command_updatedb()` directly and that is working for me.

[2016-07-01 00:27] jenlampton commented on #5
Yes, it's working for me too!

[2016-07-01 00:29] serundeputy commented on #5
Thanks for all your hard work on this @jenlampton merging!

[2016-07-01 00:30] #5 closed

[2016-07-03 12:49] serundeputy opened #43 "Automate dbdump sanitze drush command"
Write a command that will export the DB and sanitize it for local development.

[2016-07-04 16:22] serundeputy commented on #34
@Gormartsen this is a port of your `si` for `b` to drush thanks for your work there!
@pirog this `PR` gets `drush si` working.

You can specify all the parameters in one command for a super speedy backdrop install like so:

[code]

If no `--db-url` string is specified then `si` goes into interactive mode and prompts you for the necessary parameters.

[code]

One thing it does not do is create the

[2016-07-04 16:26] serundeputy opened #45 "drush si; drush si for drupal creates the database for you."
Let's get `drush si` for backdrop the same functionality.
- Prompt that you are about to create a DB or Drop tables from one if it already exists.
- Add prompt to remove site config?  `rm -r docroot/files/config_{hash}`?

In other words if a site exists running `drush si` will blow it away and reinstall fresh DB and config, but not codebase.

~Geoff

[2016-07-23 00:08] jenlampton opened #46 "Add support for `drush sqlsan` / `drush sql-sanitize`"
...to generate a sanitized database :)

I currently get:

[code]

[2016-07-26 00:01] quicksketch commented on #46
We probably won't be able to convince the Drush team to add Backdrop-specific code to their SQL integration, but we can write our own sanitation callback and alter-out the original one. I filed a PR at https://github.com/backdrop-contrib/drush/pull/47.

[2016-07-26 12:21] serundeputy commented on #46
Thanks @quicksketch this is merged into `master`; @jenlampton enjoy new simplified sql-santize workflow! :)

[2016-07-26 19:24] serundeputy commented on #46
@quicksketch  Looks like this actually broke `sql-sanitize` at least for D7 for me.

[code]

:(

I've reverted this commit so that we don't break peoples Drupal 7 functionality while we work to a solt'n on this.

~Geoff

[2016-07-27 01:26] quicksketch commented on #46
Ah, well maybe we can add a check in there for the current bootstrap class, just like we do for hook_drush_command_alter():

[code]

[2016-08-19 04:25] jenlampton opened #48 "Add support for drush user-password"
cause, sometimes you forget your password.

[2016-08-20 12:46] serundeputy opened #49 "Typo in commands/backdrop_pm.drush.inc 'verison' should be version."
Fix typo in `commands/backdrop_pm.drush.inc`.

[2016-08-20 12:49] #49 closed

[2016-08-20 17:58] serundeputy commented on #7
PR #51 added `en` support I'll file a separate issue for `dis` to keep concerns separate.

[2016-08-20 17:59] serundeputy opened #52 "Add support for `drush dis $project`."
Add support for the `drush dis {module}` command.

[2016-08-20 18:06] serundeputy commented on #52
This works™ if you enable the module with drush, but if you enable in the backdrop UI and then subsequently try to disable with `drush dis {project}` it throws errors all though the module is actually disabled.

`drush dis headless` example output:

[code]

We may have had problems with the `RfcLogLevel` before, but I can not exactly remember the context or what/if there was a resolution.

~Geoff

[2016-08-20 20:22] serundeputy commented on #48
@jenlampton put this through some paces please: https://github.com/backdrop-contrib/drush/pull/58

~Geoff

[2016-08-20 22:18] jenlampton commented on #48
woot!  @serundeputy you are fast 👍  testing now...

[2016-08-21 12:20] serundeputy commented on #7
Looks like we are having some form of the namespacing issue again that conflicts with D7 commands (@quicksketch comment: https://github.com/backdrop-contrib/drush/issues/14#issuecomment-201516214)

I've namespaced the `backdrop-pm-enable` command callback as `backdrop_command_pm_enable`, but still in the context of a D7 site this command is being called:

[code]

I noticed that the `drush` proper

[2016-08-21 12:30] serundeputy commented on #48
@jenlampton great!  Let me know what you find.

[2016-08-21 15:15] serundeputy opened #55 "drush up is broken after release zips from github now have commit hasses appended."
Github release zips now have commit hashes appended to the end of the extracted directories.  For example:

* backdrop 1.4.4: `backdrop-backdrop-d843d08`
* smtp 1.x.1.3.1: `backdrop-contrib-{hash}`

drush was expecting the extraction of these to be `backdrop` and `smtp` respectively.

I've updated the `backdrop-pm-update` command to check for this and move to expected values.  I've also added some

[2016-08-21 15:17] #55 closed

[2016-08-21 21:36] jenlampton commented on #48
New PR at https://github.com/backdrop-contrib/drush/pull/58 works fabulously!

[2016-08-21 21:49] serundeputy commented on #48
Thanks @jenlampton this is merged in `1.x-0.x` and will ship with `0.1.0`

[2016-08-21 21:49] #48 closed

[2016-08-21 22:54] jenlampton opened #60 "Remove `backdrop-user-password` and `backdrop-user-login` now that the usual suspects are working"
too many ways to do the same thing = bad UX?

[2016-08-21 23:22] jenlampton commented on #7
I'm also seeing this.  On a Drupal 7 site `drush status` knows that it's Drupal 7 (`Drupal version                  :  7.50`) but `drush en` now thinks the site is Backdrop and throws an error `Error elements does not exist in your Backdrop installation.
    Try downloading elements first with the command: drush dl elements`

[2016-08-22 12:32] serundeputy commented on #60
@jenlampton I'm not sure I understand.

`backdrop-user-password` is the backdrop implementation of `upwd`.  In `backdrop.drush.inc` we implement `backdrop_drush_command_alter` which swaps out the usual drush command implementations for the backdrop versions.  So `upwd` and `user-password` are just aliases for the real backdrop command `backdrop-user-password`.

So removing `backdrop-user-password`

[2016-08-22 20:10] jenlampton commented on #60
Hm, maybe I don't understand how changing drush actually works :)

Does this mean we have double-commands for other things like `drush backdrop-cc` and `drush backdrop-sql-dump` too? I had thought we were just altering the existing commands and not adding new ones.

[2016-08-22 21:53] serundeputy commented on #60
This is from the file: `backdrop.drush.inc`

Some are safe:

[code]

those do not have duplicates.

Others need to be rewritten and require a new `callback`

[code]

the ones with new callbacks have the "duplicate" commands with familiar aliases.

~Geoff

[2016-08-22 22:44] jenlampton commented on #60
Ah, okay.  Thanks for the explanation. Closing this ticket :)

[2016-08-22 22:44] #60 closed

[2016-09-14 20:58] jenlampton commented on #42
I'm closing this issue. I have moved my drush commands into drush-8 and I'm not sure my use-case is a valid enough one to spend time on :)

[2016-09-14 20:58] #42 closed

[2016-09-14 21:01] jenlampton commented on #32
There isn't a lot of boilerplate code in Backdrop. It might be nice to have the files created on disk, but what code did you want to put in the .module file?

I would hate to see a handful of modules implementing unnecessary hooks because the boilerplate did it for them (and they were not removed).  That might result in performance issues (long term).

[2016-09-16 05:37] jenlampton opened #61 "add support for `drush rn`"
This is one of my favorite features in Drush, letting it create release notes for you!  @quicksketch hates creating release notes, so we should find a way to use this handy tool for managing release notes easier for Backdrop (both core, and contrib) that are formatted how we need them over here:
* Markdown not HTML
* Link to GItHub not d.o
* etc

[2016-09-17 15:33] serundeputy commented on #61
`PR` adds support for `drush rn`.

`drush rn 1.4.4 1.4.5 --md` will output changes between the `1.4.4` and `1.4.5` tags for example:

geoff@gspmbp backdrop (1.x) $ drush rn 1.4.4 1.4.5 --md
**Changes since 1.4.4**
- Backdrop 1.4.5
- [#2020](https://github.com/backdrop/backdrop-issues/issues/2020): Ensure rss.xml is outputting xml and not additional html.
- [#1918](https://github.com/backdrop/backd

[2016-09-17 19:38] jenlampton commented on #61
Yessssss!!!!!

[2016-09-18 01:11] jenlampton commented on #61
@serundeputy this is fantastic! It looks like the only poorly formatted lines are caused by our poorly formatted commit messages, so RTBC from me :) and ty for the fast turnaround!!! :)

[2016-09-18 19:15] #61 closed

[2016-09-18 19:17] serundeputy commented on #61
Thanks @jenlampton merged into `1.x-0.x` and will ship with `0.0.3`; of course using the HEAD of `1.x-0.x` makes the `rn` command available now.

thanks for testing!
Happy releasing!

[2016-09-18 20:17] jenlampton commented on #46
Just pushed a new PR at https://github.com/backdrop-contrib/drush/pull/63 that adds the recommended fix above.

[2016-09-18 20:19] jenlampton commented on #43
Like a combo of sql-sanitize and sql-dump ?  like...  `drush sql-sn-dump` ?  Sounds good, I would use this all the time :)

[2016-09-18 20:20] jenlampton commented on #45
This looks like a dupe of https://github.com/backdrop-contrib/drush/issues/34

[2016-09-18 20:24] jenlampton commented on #15
It's been awhile since my last follow up and I wanted to state that I am not having this problem anymore with Drush.  I would recommend replacing old Backdrop drush commands with the latest, if anyone else is still suffering from this problem.

[2016-09-18 20:27] jenlampton opened #64 "Drush 8 + backdrop commands: `drush en` fails on Drupal 7 site"
Almost all my backdrop drush commands are working perfectly, but I still spend a lot of time on Drupal7 sites too.  Recently the `drush en devel -y` command, when executed within a Drupal 7 site, will return the following error:

[code]

[2016-09-18 20:30] jenlampton commented on #64
I tried the solution recommended by @quicksketch in https://github.com/backdrop-contrib/drush/issues/46#issuecomment-235455170, but unfortunately that prevents `drush en` from doing anything at all on Drupal 7 sites.

[2016-09-19 22:56] serundeputy commented on #45
No, not a dupe.

#34 gets `si` working for backdrop; this one aims to allow `si` to create the database and install backdrop to it.  Currently with `si` you need to create the DB then use `drush si`.

[2016-09-19 23:00] jenlampton commented on #45
Oh, okay.  whoopsie :) ty.

[2016-09-19 23:08] serundeputy commented on #46
@jenlampton with this PR it works on Backdrop, but on D7 if I issue the command it executes, does not report any feedback, but the PWs and emails are not sanitized.

[code]

so, it silently fails on D7, but still breaks the `sql-sanitize` command for D7 users :(

[2016-09-19 23:18] serundeputy commented on #46
from @jenlampton in the PR

I think it is a larger problem ... I believe it to be connected to the namespacing issues we were having with https://github.com/backdrop-contrib/drush/issues/14#issuecomment-201516214

[2016-09-23 01:40] jenlampton opened #65 "Add support for `drush sa`"
I know this command isn't directly related to Backdrop, but drush sa doesn't work on my backdrop sites anymore. Super useful if you are hosted on pantheon. Maybe it could be a pass-through command?

[2016-09-29 08:26] BWPanda opened #66 "Backup files placed in wrong directory"
When running `drush up` it makes a backup of the module and places it in `[user_home_directory]/.drush/[site_name]-[module_name]-[module_version]`. However Drupal's drush places backups in `[user_home_directory]/drush-backups/[site_name]/[timestamp]/modules/[module_name]`. I don't mind if the end of the path changes slightly, but I'd prefer all backups to be in `drush-backups` rather than`.drush`.

[2016-09-29 11:32] BWPanda opened #67 "`drush up` cannot handle more than one module at a time"
When running `drush up captcha devel extlink` it just updates captcha and then exits. No mention of the other two modules and indeed they're not updated when I check the site again... It seems I have to update each module separately.

[2016-09-29 11:43] BWPanda opened #68 "Allow training slashes in module names"
When updating a bunch of modules, I'm usually in the `modules` directory and I type the first part of the module's name then use tab-completion to fill in the rest. This makes things much quicker, however it also means that module name's are output with a trailing slash: `drush up devel/`

One thing that's always annoyed me about Drupal's drush was that you can't just leave the training slash ther

[2016-09-29 11:47] serundeputy commented on #68
@BWPanda Thanks for all your great input!

It sounds like a good idea to me.  We should be able to strip out the trailing slash.

[2016-09-29 11:57] serundeputy commented on #67
Hello @BWPanda you are correct here I can verify that.

It would be great to get this working as you describe (parity with Drupal drush).  I think it is just turning the callback to loop over an array of the specified modules in your example `captcha devel extlink`.

Yes let's get this working here in backdrop drush as well.

thanks!

[2016-09-29 11:58] serundeputy commented on #66
This seems like a good idea to me. I just hadn't checked/considered it.

We should be able to make this change.

thanks,
~Geoff

[2016-10-01 02:17] serundeputy commented on #68
@BWPanda here is a patch that allows for trailing slashes in the machine name when using `drush up {some_module}/`

Up for testing?
Patch link: https://patch-diff.githubusercontent.com/raw/backdrop-contrib/drush/pull/69.patch

If we can get this RTBC we can merge and cut a release!

[2016-10-01 15:45] serundeputy commented on #67
Hi @BWPanda this PR allows for you to specify as many modules as you would like as an argument to `drush up {module1 module1 ...}`

I'll have to refactor #68 to cooperate with this PR.

Here is the patch link: https://patch-diff.githubusercontent.com/raw/backdrop-contrib/drush/pull/70.patch

If you can confirm this is working and give it the RTBC tag we can merge it in and cut a release!

thanks,

[2016-10-02 15:05] codev0 commented on #41
+

[2016-10-04 03:21] ghost commented on #67
I can confirm this works!

Before patch:

[code]

And after patch:

[code]

So apart from the `This command is not supported yet by Backdrop.` notice, I think this is good to go!

[2016-10-04 04:11] ghost commented on #68
This seems to need re-doing as it can't find the right file to patch...

[2016-10-04 11:25] serundeputy commented on #68
Yes.  #67 changes this one.  So, I'll merge in #67 and then re-roll this one (#68).  Thanks for testing!

[2016-10-04 11:26] #67 closed

[2016-10-04 11:32] serundeputy commented on #67
Thanks for testing @BWPanda !

This is merged into `1.x-0.x` and `1.x-0.0.x` and will ship with `0.0.3`.

It is available now by using the HEAD of `1.x-0.0.x`.  It is also on HEAD of `1.x-0.x`, but that one is a bit broken as the `en` command on that branch breaks drupal usage.

thanks!
~Geoff

[2016-10-04 14:41] #68 closed

[2016-10-04 14:43] serundeputy commented on #68
@BWPanda I've refactored this and merged into `1.x-0.x`.  use that branch to get this functionality.

[2016-10-04 22:54] BWPanda opened #72 "Add support for module/theme/layout subfolders"
Normal drush (i.e. Drupal) doesn't mind if you organise you modules into subfolders. E.g.:

[code]

Whereas Backdrop's drush doesn't like custom subfolders (I keep getting `WARNING: There is no project devel intalled on your backdrop site.` messages when trying to update them)...

I'd like to request allowing any subfolder structure under modules/, themes/ and layouts/.

----
PR: https://github.co

[2016-10-10 23:49] BWPanda opened #73 "Support `drush pm-lost` command"
Not an official Drupal Drush command (or even a contrib module), but a very handy Drush command I use regularly. Wondering if it can be easily incorporated into Backdrop's Drush...?

https://gist.github.com/kalabro/3187485

----

PR @BWPanda https://github.com/backdrop-contrib/drush/pull/152

[2016-10-10 23:56] ghost commented on #73
I guess I should probably explain what it does... :blush:

`drush pm-lost` lists any modules in the filesystem that aren't installed on the website (e.g. if you uninstall a module but then forget to actually remove it from the `modules` directory). Helps remove clutter basically.

[2016-10-12 07:46] mikemccaffrey commented on #72
Other than the issue with drush, are the custom folders working alright wit the rest of backdrop?

[2016-10-12 08:18] ghost commented on #72
Yep, absolutely!

[2016-10-12 23:18] serundeputy commented on #72
@BWPanda thanks for reporting.

hmm ... backdrop-drush is supposed to check for a `contrib` folder as well.  It certainly can `drush dl` to the `contrib` location.

That being said I'm going to mark this as a bug as it should allow you to do this.

[2016-10-14 12:11] andres-de commented on #15
Yes, I can confirm, that with drush 8 (8.1.5) projects (e.g. devel) are not stored in module/ folder but in backdrop root.
drush 7 (7.4.0) works fine.
Both with Backdrop Drush commands.

[2016-10-23 16:37] serundeputy opened #74 "Add support for backdrop-config-export (bcex)"
Determine workflow and write command for `backdrop-config-export`

This command is also suffering from the namepsace conflicts that `en`, `dis`,  and `si` are suffering from.  So, for the time being I'm going to move forward with the `backdrop-config-export` implementation.

[2016-10-23 16:40] serundeputy opened #75 "Add support for backdrop-config-import (bcim)"
This command will complete the workflow for managing your configuration either in version control or from the command line.

[2016-10-23 19:00] serundeputy commented on #74
This approach requires you version control the `$config_dirctories['staging']` directory and not the `$config_directories['active']`.

The workflow is as follows:
- Make config change on your site `sitename` is an easy use case.
- Save the change.
- execute the command `drush bcex`
  - This removes the config from the `$config_directories['staging']` directory and copies in the config from the `$c

[2016-11-14 18:56] herbdool commented on #74
@serundeputy I gave it a spin. Simple enough and works.

One change I'd suggest, because it was unexpected, is to only copy the files in /active and not the directory itself. The command dumps the files so it looks like: `./config/staging/active/`

[2016-11-17 03:52] serundeputy commented on #74
thanks @herbdool

Oh; sorry about that structure; I don't think I can copy just the files since we need deletions too.  For example if one deletes a content type that will delete the corresponding config file in active, but if we just copy the files that deletion doesn't exist (it was deleted) in active.  So copying just the files will copy the existing files from active to staging and overwrite t

[2016-11-20 06:42] herbdool commented on #74
thanks @serundeputy

I had assumed the script was deleting the files in staging first, no? Wouldn't that ensure removed config stays removed?

[2016-11-23 22:53] serundeputy opened #77 "Allow modules to register drush commands."
Allow modules to implement drush commands.

[2016-11-23 22:59] #77 closed

[2016-11-26 16:38] serundeputy opened #79 "Broken drush dl and drush status via #77"
In #77 I added:

[code]

This allowed modules to define their own drush commands and for them to execute, but it broke at least `drush dl` and `drush st` that I know of. :(

[2016-11-27 14:17] serundeputy commented on #7
This PR: https://github.com/backdrop-contrib/drush/pull/80

Allows you to enable and disable modules via the commands:

  * `drush en {module_name(s)}`
  * `drush dis {module_name(s)}`

In my testing it did not break Drupal 7 `en` and `dis` drush commands.

@jenlampton or anybody up for testing?

[2016-11-27 14:20] serundeputy commented on #52
I'm handling this in #7; closing.

[2016-11-27 14:20] #52 closed

[2016-11-28 18:13] jenlampton commented on #7
yes!

[2016-11-28 21:14] jenlampton commented on #7
Well, I checked out the `remotes/serundeputy/7/pm-enable` branch of the drush commands, ran a `drush cc drush` and then tried a `drush en forward -y` on one of my existing Drupal 7 sites. I still get this error:
[code]

Did I miss a step?

[2016-11-28 22:20] serundeputy commented on #7
@jenlampton try `git pull serundeputy 7/pm-enable`?

see if that brings down the new code for you.

[2016-11-28 22:21] serundeputy commented on #7
I'm on this commit:

[code]

[2016-11-28 22:32] jenlampton commented on #7
I pulled, did get some new files!  Also on `52a0752b65365c` now.  Tried `drush cc drush`, then `drush en forward -y` and still got...

[code]

[2016-11-28 22:33] jenlampton commented on #7
`drush en forward -y -vvv` gives:

[code]

[2016-11-28 22:37] serundeputy commented on #7
shucks :(

@jenlampton what is your drush version?

me:

[code]

[2016-11-28 22:38] jenlampton commented on #7
me too: `Drush Version   :  8.2-dev` commit `58d4c1328f188fd1eb1bb542d21444fc6314f8c9`

[2016-11-28 22:46] jenlampton commented on #7
If I pull the latest drush 8.x branch, a `drush cc drush` throws:
[code]

[2016-11-29 14:09] serundeputy commented on #7
@jenlampton do you have backups of old versions of the `backdrop drush` extension and if so are they in either your `~/.drush` or `~/drush` folder?

If so it could be picking up on those and loading them after the one we intend.  Shot in the dark, but please check if you have any backup files that contain the old `drush en` command.

~Geoff

[2016-12-01 19:11] jenlampton commented on #7
I do not have a ` ~/.drush` or `~/drush` folder.  My drushes are all organized by version (and alias):
[code]

The only copy of backdrop drush I have is in the `~/drush-8/commands` directory, and it is a git checkout with remotes for contrib as well as your fork so that I can pull and test branches (PRs) as needed.

My current process is to use drush 7 on drupal 7 (since drush 8 is broken on Drupa

[2016-12-01 21:54] serundeputy commented on #7
@jenlampton I see. Thanks for the detailed response.

I'll try to see if I move my backdrop drush extension to `~/drush-{#}` if I can replicate the issue.

thanks.  More to come once I test that scenario.

[2016-12-01 22:01] jenlampton commented on #7
I don't think that's likely the problem, but I'm also out of other ideas as to why we are getting different results!

[2016-12-01 22:42] serundeputy commented on #7
@jenlampton you're right; works for me in `~/drush/commands` and in `~/.drush/extensions` ... hrm.

Not sure where to go from here: @quicksketch @wesruv can one or both of you apply this patch and see if you get same results as @jenlampton or me or something entirely different?

[2016-12-09 00:42] serundeputy opened #81 "Add ability to download backdrop; drush dlb"
Adding command:

[code]

[2016-12-09 00:47] serundeputy commented on #81
Needs review;

https://github.com/backdrop-contrib/drush/pull/82

For example `drush dlb backdrop --path="my-backdrop"` will download backdrop into a directory `my-backdrop` relative to the directory that you issue the command from.

[2016-12-15 17:47] wesruv commented on #7
I gave it a college try, but I'm having issues getting drush to realize it has an enable command. Definitely something on my side, I have a custom docker setup that I'm not particularly good at modifying... sorry 😞

[2016-12-24 18:06] serundeputy opened #83 "Add fix-permissions command."
Provide a drush wrapper for the `fix-permissions.sh` script (https://www.drupal.org/node/244924#script-based-on-guidelines-given-above).

This command slightly customizes the script for Backdrop. Bundles it with the drush extension and provides the command: `drush fix-permissions` of `drush fp` alias for short.

You can provide all the options directly:

[code]

or be prompted for them running by

[2017-01-13 04:28] serundeputy commented on #79
For now i've reverted this change.  Getting `site-scope` and detection of custom module and contrib module provided drush commands would be excellent and extremely desirable, but as of now it is breaking other important commands like `dl`, `st`, and `updb` that I know of.

[2017-02-13 13:10] serundeputy opened #85 "Check if backdrop drush extension works with MAMP?"
Reporeted by @cellear in gitter:

[code]
----
One thing I noticed is there are two `backdrop_core.drush.inc` files in this output one in `DRUSH/commands/` and one in `DRUSH/commands/backdrop/drush-1.x-0.x` ... that is probably not helping things.

[2017-02-14 00:11] cellear commented on #85
Well, I got rid of the DRUSH/commands/backdrop_core.drush.inc -- it didn't seem to make any difference.  I'm happy to test anything or run any commands, if you think that would help shed light.

[2017-02-18 18:23] serundeputy commented on #34
PR: https://github.com/backdrop-contrib/drush/pull/59/files

* Fixes interactive mode (prompt for `--db-url` data if not provided)
* Creates the DB if it does not exist yet

@pirog up for testing, feedback or RTBC?

[2017-02-18 18:27] serundeputy commented on #45
I've added this functionality into https://github.com/backdrop-contrib/drush/issues/34

closing.

[2017-02-18 18:27] #45 closed

[2017-02-18 19:43] serundeputy commented on #72
PR: https://github.com/backdrop-contrib/drush/pull/87

@BWPanda There were at least a couple of factors going on here.

I never got the error:

Are you on a multisite?  Backdrop drush does not know how to handle multisites yet (https://github.com/backdrop-contrib/drush/issues/37)

I tried to replicate your problem with an earlier version of devel and that was failing because that version of devel

[2017-02-18 21:36] serundeputy commented on #41
duplicate of: https://github.com/backdrop-contrib/drush/issues/81

closing.

[2017-02-18 21:36] #41 closed

[2017-02-19 00:48] #79 closed

[2017-02-19 03:30] serundeputy commented on #72
I've merged in the changes in #87 as they are in the same file that the requests for #66 and I don't want to block that one.

I will leave this one open until @BWPanda reports back if it is multisite problem or something else.

[2017-02-19 04:15] ghost commented on #72
Nope, not a multisite. It's an existing site I have running, so not sure about steps to reproduce... I'll just tell you what I have setup:

Backdrop: 1.5.2
Drush: 8.1.2

I also noticed that `drush dl webform` run from `/var/www/[bd_dir]/modules/sandbox` ('sandbox' is a custom directory within 'modules', like 'contrib' or 'custom' from the original post) displays: `Project webform downloaded to /va

[2017-02-19 04:22] klonos commented on #72
...if the above was a copy-paste, then there is also a typo in "installed" (missing `s`).

[2017-02-19 04:23] serundeputy commented on #66
thanks @BWPanda

Moved the backups to `~/drush-backups/$sitename/$timestamp/$project/module-name-version`.

This is now consistent with drupal drush behavior.

[2017-02-19 04:23] #66 closed

[2017-02-19 04:27] #83 closed

[2017-02-19 04:28] #81 closed

[2017-02-19 04:55] serundeputy commented on #34
merged.

[2017-02-19 04:55] #34 closed

[2017-02-19 05:06] serundeputy commented on #72
Ahh; thanks @BWPanda that makes sense drush is currently only checking for either `BACKDROP_ROOT/modules` or `BACKDROP_ROOT/modules/contrib` since you have a subdir named `sandbox` that explains the failure.

I'll have to think about how to support arbitrary sub directories.

@klonos thanks; fixed typo.

[2017-03-11 18:53] serundeputy commented on #74
`bcex` merged into `1.x-0.x` released in `0.0.4`.
https://github.com/backdrop-contrib/drush/pull/88

[2017-03-11 18:54] serundeputy commented on #75
`bcim` merged into `1.x-0.x` and released in `0.0.4`
https://github.com/backdrop-contrib/drush/pull/88

[2017-03-11 18:54] #75 closed

[2017-03-12 15:33] serundeputy opened #89 "drush bcex/bcim cp works differently on Mac/Darwin and Linux."
need to account for the operational differences of the `cp` on mac and linux.

[2017-03-12 17:28] serundeputy commented on #89
@herbdool this difference in `cp` command results explains what you reported in https://github.com/backdrop-contrib/drush/issues/74

I've tested this new PR: https://github.com/backdrop-contrib/drush/pull/90 addresses that for Ubuntu.

[2017-03-22 13:30] herbdool commented on #74
@serundeputy thanks for your work on this.

How much work is it to add a flag so the user can specify what directory to export to? I think that could be quite useful for people using a different workflow. I saw it in the Drupal version of the command.

[2017-03-22 13:33] serundeputy commented on #74
I think I can get that going.

 - [ ] Add `--destination=path/to/export` option

[2017-03-23 18:42] laryn opened #91 "Sitename with ampersand causes `drush up backdrop` failure"
It gives a success message but the files are not replaced correctly if the sitename contains an asterisk.

I suppose we could pretty easily add another `str_replace` [on this line](https://github.com/backdrop-contrib/drush/blob/d16a9d782c78b659abd117a04ae45355e37e7125/commands/pm/backdrop_pm.drush.inc#L310), but there are probably other problem characters out there. We may need to figure a better

[2017-03-23 19:16] serundeputy commented on #91
@laryn Thanks for reporting.  I'll find a more robust string sanitization method!

[2017-03-23 20:31] laryn commented on #91
@serundeputy Can you use this?

https://github.com/backdrop/backdrop/blob/1.x/core/includes/transliteration.inc#L26

[2017-03-23 22:08] serundeputy commented on #91
@laryn I think this: https://github.com/backdrop/backdrop/blob/1.x/core/includes/transliteration.inc#L241

[2017-03-23 22:31] serundeputy commented on #91
@laryn up for testing this out?
`PR`: https://github.com/backdrop-contrib/drush/pull/92

[2017-03-23 22:48] serundeputy commented on #89
This is fixed in: https://github.com/backdrop-contrib/drush/commit/e204ff172f177b7eba9049ae40288f242a6cf69f

[2017-03-23 22:48] #89 closed

[2017-03-23 22:54] laryn commented on #91
@serundeputy Sure, probably tomorrow.

[2017-03-23 23:49] serundeputy commented on #74
Added `--destination` option in 1d24fe17b85943c757f465920d7a20b3cb2dac69

@herbdool give it a whirl at your leisure :)

[2017-03-23 23:49] #74 closed

[2017-03-24 15:51] laryn commented on #91
I just tested on localhost without the new patch and it didn't give an error (allowed the ampersand in the filename). I'll try to spin up an outdated Backdrop on the server that gave the problem earlier and test there.

[2017-03-24 16:40] laryn commented on #91
@serundeputy Tested again on the server that had the problem initially and it went flawlessly. (Initial test without the patch failed, applied the patch and had no problem).

[2017-03-24 16:49] serundeputy commented on #91
Thanks for the report, research and testing @laryn !

fixed in a9b9138ef9dd3508d32701ac40e08c600d33ba23

[2017-03-24 16:49] #91 closed

[2017-05-05 02:44] jenlampton commented on #7
I've also noticed that `drush en` seems to only work for contrib, not for core or custom modules.

[2017-05-05 02:47] jenlampton opened #96 "Drush `updb` doesn't work for Drupal 7 -> Backdrop CMS"
When updating from Drupal 7 to Backdrop via update.php, my updates complete successfully.

When I try to use `drush updb -y` from the command line, all the updates run as usual but then the second-to-last message printed to the screen is as follows:
[code]

Then, oddly, the last message printed is as follows:
[code]

[2017-05-05 03:03] jenlampton commented on #75
Does this command copy files from stage => active? (and make the necessary schema changes that accompany the config changes?)
edit: yes, yes it does :D

[2017-05-05 23:43] serundeputy commented on #96
@jenlampton I could not reproduce this.

I upgraded from a generic drupal 7.54 to backdrop 1.6.3 using `drush updb -y` and everything worked as expected.

Can you identify any other steps that would cause this? In my vanilla drupal there were no contrib modules for instance, but that error sure looks like it blew up before trying to get to any contrib module updates.

Please let me know if you dig

[2017-05-06 00:16] jenlampton commented on #96
This site was actually a D6 site that went through D7 to Backdrop. (I don't see how that would affect drush differently, ... but you never know!) I'm going to do the whole upgrade again in an hour or so anyway, I'll see if I can reproduce the problem after doing the D6 -> D7 part over again.

[2017-05-07 05:38] jenlampton commented on #96
It failed again. But it looks like after both core and contrib have been updated (successfully?)
Here's the complete output:
[code]

[2017-05-07 14:13] serundeputy opened #97 "`drush help` does not work inside of Backdrop installations."
If you are just in your file system like in `/home` you can you use `drush help` for backdrop commands:

[code]

but if you are in a backdrop site directory it does not work:

[code]

The `help` command is defined as a `$safe_command` in `backdrop.drush.inc` meaning it is a command that works out of the box using the code from drush proper project (no additional code from backdrop-drush-extension)

[2017-05-07 14:21] serundeputy commented on #96
@jenlampton can you `disable` the contrib modules and see if it is the same result?  I see `{Nodequeue, Backup_migrate, Googleanalytics}` but there could be more.

The error does not seem like a contrib problem, but if we could at least eliminate that as a cause as that is a difference from your situation and mine.

[2017-05-07 15:34] serundeputy commented on #7
@jenlampton I believe I've fixed:

*  the conflict with `en/dis` breaking drupal 7 sites
* drush `en/dis` should work with core, contrib, and custom modules now

up for another round of testing?  It would be really great to get the `en/dis` functionality into a release!

[2017-05-07 18:02] jenlampton commented on #96
@serundeputy do you know if drush logs it's "unrecoverable error"s?  I'm thinking maybe the unrecoverable error is unrelated to the Exception it printed to the screen?

[2017-05-07 18:22] serundeputy commented on #96
@jenlampton I think that error is coming from the backdrop api; so you might check dblog.

you might try `drush updb -y -vvv` as well for more verbose logging.

[2017-05-08 03:03] jenlampton commented on #7
Yes!

[2017-05-08 03:05] jenlampton commented on #7
no dice on core or custom modules.
[code]

[2017-05-08 03:08] jenlampton commented on #7
and Drupal 7 still appears broken too?  I'm on the branch `serundeputy/ongoing-saga-of-en`. I wonder if I'm having some funny drush-cache issue, I did run `drush cc drush` but nothing seems to have changed. This sounds familiar and I'm starting to feel like the problem is me, and not Drush!

[2017-05-08 12:15] serundeputy commented on #7
@jenlampton yes that is the correct branch.
I'm not sure what is going on here.  It does not seem to be using the latest code in that branch according to what you are reporting, which means `drush cc drush` was a good idea!

Scratching my head.  Something different about our environments set up or something I'm guessing.

[2017-05-19 00:11] serundeputy opened #99 "Add drush pm-list command."
List modules and there status.

[2017-05-19 00:38] serundeputy commented on #99
https://github.com/backdrop-contrib/drush/pull/100

Adds support to at least be able to see installed modules and there status.  Example

[code]

[2017-05-19 00:43] serundeputy commented on #99
#100 merged.
closing.

[2017-05-19 00:43] #99 closed

[2017-06-03 16:30] robertgarrigos opened #101 "drush dl doesn't work at all"
I'm trying to install a backdrop module with drush with no luck.

[code]

I'm using drush 8.1.9 with PHP 7.1.5-1+deb.sury.org~xenial+2 (cli).

Others rush commands work good:

[code]

[2017-06-03 17:26] serundeputy commented on #101
@robertgarrigos thanks for the report.

I can verify that I can not use `drush dl` to download `basic_cart` however it is working for me on all the other modules I try `{webform, imce, on_the_web, metatag}` so I'm guessing something specific to `basic_cart`.

[2017-06-03 17:33] robertgarrigos commented on #101
Thanks @serundeputy . I did try to download a different module (mailchimp, for instance) and didn't work either, so I though it was something with drush, but indeed I can download webform. Still, I cannot download basic_cart and mailchimp. Maybe there are some others with the same problem.

[2017-06-03 17:35] serundeputy commented on #101
ok; I'll look at `mailchimp` now.  Looks like `basic_cart` is not following the semver versioning strings so that might have something to do with it; drush expects `1.x-1.x.y` or `x.y.z` basic cart is `v1.1-beta`.  still looking though.

[2017-06-03 18:42] serundeputy commented on #101
@robertgarrigos the releases for those projects don't exist at the expected github URLs. Not sure why something with those releases; perhaps they are flagged as beta so github does not give a `latest` URL ... I'm not sure i'm just guessing.

For now I've put in a check (https://github.com/backdrop-contrib/drush/pull/102) for an http 200 response before beginning the download and if not 200 tell th

[2017-06-03 19:51] robertgarrigos commented on #101
Thank you! As you say, at least the user will know what's going on.

[2017-06-03 19:51] #101 closed

[2017-06-18 03:50] kienanstewart opened #103 "Backdrop bootstrap doesn't take into account -r/--root parameter from drush"
In drush -r/--root can be passed to specify a specific directory the the application root. This parameter isn't checked in drush_locate_root (at least presently), so when bootstrapping Backdrop it's simply ignored.

A bit more context in the drush preflight.inc : https://github.com/drush-ops/drush/blob/8.x/includes/preflight.inc#L323

[2017-06-19 01:15] kienanstewart opened #105 "How should third party drush commands signal that they support backdrop?"
In my case, I'm looking at the command provision-save provided by the provision projecton on d.org; however, it could really be any third-party command.

In backdrop.drush.inc, the procedure backdrop_drush_command_alter explicitly lists the safe commands, commands that work through a compatibility layer, and rejects everything else.

There currently doesn't seem to be a way to signal to backdrop.d

[2017-06-19 12:04] serundeputy commented on #105
Hello @kienanstewart !

We definitely want to allow modules to declare their own drush commands. Our first attempt at this was here: https://github.com/backdrop-contrib/drush/commit/76e226f5b503bbe5a859696595cd8a6989c1df4b , but that broke compatibility with Drupal sites using drush that had the backdrop drush extension installed, so I had to revert it.

So, short term if you just need a work arou

[2017-06-19 12:14] serundeputy commented on #103
thanks @kienanstewart !

If I understand this correctly the `--root` option allows you to be in an arbitrary directory and run drush commands against an app by specifying its path, but if you are not in a backdrop app when you issue the command drush can not pick up the Backdrop boot class, so you still can not issue a command even with the `--root` option specified.

I tested out your PR and it s

[2017-06-20 01:13] kienanstewart commented on #103
Maybe there's something in the dl command which is different? On my system backdrop-dl doesn't seem to work at all (output at end of this comment). I was using status and provision-save to gauge how far I got.

Here's the output I get with status (on kienanstewart-1.x-0.x-103):

[code]

This is status on the unpatched copy:

[code]

Output of dl (unpatched):

[code]

Output of dl patched:

[code]

[2017-06-20 01:14] kienanstewart commented on #103
I guess there's no test suite for this package?

[2017-06-25 17:23] serundeputy commented on #103
@kienanstewart
Unfortunately there are no tests for the backdrop drush extension (they needed and desired, but we don't have them yet).

I tested today with `dl`, `st`, and `cc all` and they all work when specifying a `--root` option.  Maybe my drush cache was not cleared when I checked out your branch.

Looks good, works good, merged into `1.x-0.x`

thanks!

[2017-06-25 17:23] #103 closed

[2017-07-13 19:54] lynna-spidersilk commented on #8
OK, apparently I can't reopen a closed issue - will move my comment to a new one.

[2017-07-13 20:04] lynna-spidersilk opened #106 "Still having cron error that was supposed to have been fixed last year"
I'm still having the problem referred to in the now-closed #8 - not sure if it might be a different cause, though, as that issue is supposed to have been fixed over a year ago.

The site is using Drush version 8.1.12 and the latest stable versions of both Backdrop and the Drush Backdrop package.

I had just installed this package, and when trying to run drush cron (from within a Backdrop directory

[2017-07-13 20:40] serundeputy commented on #106
@lynna-freeform thanks for reporting this issue.

Can you tell me how you have the backdrop drush extension installed?  is it in your home directory; something like `~/.drush/backdrop-extension` or within `drush` itself like `/path/to/drush/extensions/backdorp-extension`?

The cron command is working for myself and others, so there must be some detail about your set up that is different.

fyi; bak

[2017-07-23 15:37] serundeputy commented on #7
@jenlampton Can you tell me your PHP version?

[2017-07-24 19:29] jenlampton commented on #7
I most commonly switch between 5.3.29 and 5.5.26.

[2017-07-24 20:10] serundeputy commented on #7
I wonder if some of the problem is with php < 5.5; drush 8 requires > 5.5.

[2017-07-25 19:19] jenlampton commented on #7
My drush PHP is always 5.5.26.

[2017-07-29 16:25] serundeputy opened #107 "Improve `dl --select` to retrieve releases from github and allow --dev`"
Right now `drush dl --select` determines available releases via backdropcms.org update server.

- [ ] switch to getting release info via github api
- [ ] add a `--dev` option to get the latest dev HEAD version
- [ ] add the dev HEAD version as one of the listed options when using `--select` option
- [ ] add check to default to latest stable, but give dev if there is no release

This will allow use

[2017-07-30 14:21] opi commented on #7
Testing serundeputy/ongoing-saga-of-en (PR#98). Works fine, can enable or disable core and contrib modules.
I found it strange that enabling a module ask for confirmation (y/n), but disabling does not.

[code]

[2017-07-30 21:21] serundeputy commented on #7
Thanks for testing @opi !

It would be great to be able to replicate this problem and have the list of `steps to reproduce` (STR); right now I have no angle to troubleshoot this.

I'm testing on local stack with Apache, MySQL, and php 5.5, 5.6, 7.0 and 7.1.

@jenlampton @opi what are your stacks?  does MAMP have something to do with it?

-----

I can add the conf `(y/n)` prompt to `drush dis`.

[2017-07-30 21:51] opi commented on #7
My laptop runs a regular Debian Jessie, with PHP 5.6, Apache 2.4, MySQL 5.5 ; Drush commands are in `~/.drush/commands/backdrop`, currently checked out on `serundeputy/ongoing-saga-of-en` ; Drush caches are cleared before testing (`drush cc drush`).
I could run tests on other Linux flavors if you think it worth it, but I don't have any windows or macos system around me.

thanks ; If I found some f

[2017-08-01 00:59] jenlampton commented on #7
I am running MAMP. However, my PHP version is specified in my `.bash_profile` using
 `export DRUSH_PHP=/Applications/MAMP/bin/php/php5.5.26/bin/php` to point to the version of PHP drush should be using, regardless of MAMP's settings.

[2017-08-05 18:48] jenlampton opened #108 "Command `drush en` doesn't work for submodules"
I can't seem to enable the `flexslider_views` module using `drush en`. The main Flexslider module enables okay, but for the submodule I get the error:
[code]

[2017-08-05 18:56] jenlampton commented on #7
I'm still unable to enable core or modules, but I do have the commits from May 7th in my `git log`. I also noticed that I'm unable to enable submodules, see https://github.com/backdrop-contrib/drush/issues/108

[2017-08-10 12:23] serundeputy commented on #108
Thanks Jen!

Need to make the module search recursive through sub directories.
This is dependent on #7.

[2017-08-10 12:29] serundeputy opened #109 "Configuration workflow is not respecting deletes (bcim/bcex)."
When working on a site make configuration changes that involve removal of config files, like delete a layout.

* Delete layout
* export: `drush bcex`
* commit and push changes
* pull down changes (on server or another dev in the team) issue: `drush bcim`

This works fine in that the dev team will receive the config updates, but when the 2nd dev exports, the deleted layout was not detected (i suspe

[2017-08-10 12:35] serundeputy commented on #106
Need more information as I can not reproduce this.

[2017-08-12 02:53] jenlampton opened #110 "Add support for `sql-drop`"
I thought we had all the sql commands, but `sql-drop` doesn't seem to be working for me. Is it just my set-up again, or is this the case for others too?

[2017-08-12 03:04] jenlampton commented on #85
I'm using drush with MAMP and i'm having some success. What is it that needs to be tested?

[2017-08-21 17:09] serundeputy opened #111 "drush dl uses wget and --0 option; but that is not working on all OSs."
On `lando`:

[code]

here is the `wget` version inside the lando container:

[code]

lando appserver OS version:

[code]

[2017-08-31 05:25] jenlampton commented on #96
I'm still having this same problem, and I have a copy of a database that won't update if that's helpful?

[2017-08-31 05:28] jenlampton commented on #7
I'm still not able to enable core or custom modules. I get the following errors now:
[code]
that's not good advice :(
---

* see https://github.com/backdrop-contrib/drush/issues/137 for core modules
* see https://github.com/backdrop-contrib/drush/issues/138 for custom modules

[2017-08-31 19:52] serundeputy commented on #96
@jenlampton send along the DB and i'll see what i can see. thanks.

[2017-09-18 19:48] laryn opened #112 "Caches after upgrading Backdrop core"
When updating Backdrop core with Drush I've had the experience that images/views don't display right until caches are cleared. Is there a way to force a cache clear after a drush upgrade (whether or not there are database updates to run), or is that a bad idea?

[2017-09-20 21:25] opi opened #114 "Core Drush functions that used drush_get_class() are broken"
How to reproduce:

- Find drush function that use `drush_get_class()` with `grep -R 'drush_get_class' ~/.config/composer/vendor/drush/`. For example,  `user-information` or `role-list` or `sql-conf --all`.

- Add these function to the `$safe_commands` in `backdrop.drush.php`

- launch the command in your Backdrop docroot. You should see an error like `Unable to load class Drush\Foo\Bar`.

[2017-09-20 21:27] opi commented on #65
With PR #113, remote aliases works fine, I manage to do a basic `rsync @dev @local`.

Note that the handy `sql-sync @prod @local` is broken due to https://github.com/backdrop-contrib/drush/issues/114

[2017-09-22 16:28] laryn opened #115 "CiviCRM drush commands"
I'm guessing that CiviCRM drush commands could all be added to the safe list since they would be dealing with the CiviCRM database/tables rather than Backdrop specifically. Does that sound right to you?

https://github.com/civicrm/civicrm-backdrop/blob/1.x-master/drush/civicrm.drush.inc

[2017-09-28 05:38] BWPanda opened #117 "`drush up` lists module versions in two different formats"
When running `drush up featherlight/`, the following is shown in part of the output:

[code]

The current version is shown as '1.x-1.0.0' while the proposed version doesn't have the '1.x-' at the beginning. I think this should be consistent and either both use the full version string of both use the shortened one...

[2017-09-28 12:35] serundeputy commented on #117
indeed.

[2017-10-01 00:09] serundeputy commented on #117
Thanks @BWPanda this is fixed in https://github.com/backdrop-contrib/drush/pull/118

[2017-10-01 00:09] #117 closed

[2017-10-01 00:14] serundeputy commented on #111
this is because it was supposed to be `-O` not `--O` fixed in https://github.com/backdrop-contrib/drush/pull/118

[2017-10-01 00:14] #111 closed

[2017-10-01 00:23] serundeputy commented on #65
thanks @opi !
Merged into `1.x-0.x` will ship with `0.0.6`

[2017-10-01 00:23] #65 closed

[2017-10-01 15:57] serundeputy commented on #115
Thanks @laryn this (https://github.com/laryn/drush/commit/65e4e0031e6fe96120deb30916ff326854f720e7) will work, but what we really need is for `backdropd-drush` to pick up on when modules define their own drush commands: https://github.com/backdrop-contrib/drush/issues/105

So, you can modify your `safe-commands` array as a work around, but I'm hesitant to commit it to the project as we'd have to l

[2017-10-01 15:58] #115 closed

[2017-10-01 17:45] serundeputy commented on #112
Thanks @laryn !  I don't see any harm in it.
fixed in https://github.com/backdrop-contrib/drush/pull/120

will ship with `0.0.6` or use the latest HEAD of `1.x-0.x`.

[2017-10-01 17:45] #112 closed

[2017-10-15 16:15] serundeputy opened #121 "drush si is broken; expects `langcode` not `locale`."
`drush si` is broken; expects `langcode` not `locale`.

[2017-10-15 16:36] serundeputy commented on #121
merged will ship with `0.0.6`

[2017-10-15 16:36] #121 closed

[2017-12-01 06:17] quicksketch commented on #7
I posted a review to https://github.com/backdrop-contrib/drush/pull/98. Looks like this still needs a bit of work.

[2017-12-01 06:20] quicksketch commented on #105
It looks like another option here is to check the Drush command "path" key, and see if it is a relative or absolute path. Absolute paths come from the global drush install, but relative ones use the local modules. I'll try making a PR to demonstrate.

[2017-12-01 07:16] quicksketch commented on #105
PR filed at https://github.com/backdrop-contrib/drush/pull/123. @serundeputy could you give it a shot?

[2017-12-01 18:08] serundeputy commented on #96
@jenlampton I just tested using `drush updb` from D7 to `1.9.x-dev` and it worked.

Looking more closely at your error output:

Drush command terminated abnormally due to an unrecoverable error.

Maybe try pointing that at a different config location?

[2017-12-02 17:34] serundeputy commented on #105
this works great! and doesn't break D7! #woooooot; merged into `1.x-0.x` will ship with `0.0.7`.

[2017-12-02 17:34] #105 closed

[2017-12-02 17:36] serundeputy commented on #115
@laryn #105 has been merged. so you should be able to use drush to run the CiviCRM defined drush commands now!

[2017-12-02 19:50] serundeputy commented on #7
@quicksketch I followed some of the suggestions in your review thanks for that.

We still need a better way to handle detecting if a module is already in the file system:

[code]

only checks the specific paths and as pointed out in the review there are other possibilities of a user having there own directory structure or multisites. `module_exists` will not work as that checks for installed and e

[2017-12-02 21:28] serundeputy commented on #7
@jenlampton @quicksketch I've updated the validation logic to use `system_rebuild_module_data()` if anyone is up for testing pull down the `ongoing-saga-of-en` branch and give it a whirl.

I've found that when switching branches issuing a `drush cc drush` in each terminal window (not just the one you make the code pull from)  is helpful/necessary.

[2017-12-02 21:47] serundeputy commented on #108
I've updated the way modules are detected by drush in #7 and in my tests that fixes this as well i.e. I can enable `flexslider_views` with drush on the branch `ongoing-saga-of-en`

[2017-12-03 14:30] serundeputy opened #124 "Add Backdrop Drush version string to `drush status` output."
Allow users to easily determine which version of the Backdrop Drush extension they are using.

---
PR: https://github.com/backdrop-contrib/drush/pull/125

[2017-12-03 14:35] serundeputy commented on #124
PR #125 adds the BACKDROP_DRUSH_VERSION constant to `backdrop_core.drush.inc` file and adds the output to the `drush status` report:

[code]

with the new string ` Backdrop Drush           :  1.x-0.x` coming after the Drush proper version.

[2017-12-03 14:36] serundeputy commented on #124
merged.

[2017-12-03 14:36] #124 closed

[2017-12-06 11:50] opi commented on #7
Maybe I miss something, but as for now, only module dependencies are enable, but not the desired modules. Here is my small patch :
[code]

[2017-12-06 20:39] serundeputy commented on #7
thanks for the review @opi my claim to fame is that that merge already happens on https://github.com/backdrop-contrib/drush/blob/ongoing-saga-of-en/commands/pm/backdrop_pm_enable.drush.inc#L56

I've tested and it is working for enabling modules and there dependencies for example:

[code]
Enables both `devel` and `devel_generate`.

[code]

And the inverse:

[code]

[code]

did your testing not enab

[2017-12-06 21:27] serundeputy commented on #7
@opi I see what you are referring to now; In the tests listed above I was basically assuring that some dependencies would be found and when they were not things blew up.

I've added in to catch these cases.
PR updated: https://github.com/backdrop-contrib/drush/pull/98
Thanks!

[2017-12-10 20:01] opi commented on #110
Works fine. `sql-drop` is in the safe commands list https://github.com/backdrop-contrib/drush/blob/1.x-0.x/backdrop.drush.inc#L99

@jenlampton still got the issue ?

[2017-12-10 23:40] jenlampton commented on #110
Seems to be working for me today :)

[2017-12-10 23:40] #110 closed

[2017-12-13 14:50] opi commented on #114
any thoughts @serundeputy ? I lack some OOP skills :(

[2017-12-13 18:13] serundeputy commented on #114
@opi I haven't had a look at this yet, but thanks for filing the issue!

Hoping to prioritize it once #7 is in.

[2018-01-16 02:49] jenlampton opened #128 "drush rn adds a random character to the start of each line"
For example:
[code]

[2018-01-16 02:51] jenlampton opened #129 "drush rn can't tell the difference between minor & bug-fix releases"
Maybe I'm not using `drush rn` correctly, but it seems to generate the same results, regardless of which branch I'm on, or which tag I reference.

When we do a minor version release of backdrop we need to be able to generate release notes for both the bug-fix release, and the minor version, and those two lists should be different.

If anyone has suggestions as to how those commands are supposed to

[2018-01-17 04:38] ghost commented on #37
Closing this as a duplicate of https://github.com/backdrop-contrib/drush/issues/15

[2018-01-17 04:45] ghost commented on #15
I'm experiencing this with the following setup:

- Drush (core) v8.1.15
- Drush (Backdrop commands) latest (git pull)
- Backdrop v1.8.1 (not sure if that matters)
- Backdrop multisite setup (individual websites in `/sites/` directory)

Here's what happens:

[code]

[2018-01-18 04:37] ghost commented on #15
Also, when I try to update a module in a multisite, I get the following:

[code]

When there clearly *is* a save_draft module installed there.

[2018-01-18 04:40] ghost commented on #15
Oops, ignore my two comments above. This issue seems to be about something else, not multisite support like I thought it was... My bad.

[2018-01-18 04:40] ghost commented on #37
Nope, sorry, not a duplicate of that issue (got confused).

[2018-01-18 04:42] ghost commented on #37
This happens with `dl` and `up`. Basically this issue is a feature request to support multisite.

[2018-01-18 04:59] ghost commented on #37
@serundeputy I agree with your idea of what needs to happen to make this work. I'd submit a PR myself, but I'm stuck on the first part: working out how to check where the user is executing the drush command from...

[2018-01-19 04:19] BWPanda opened #130 "Support drush make"
I'm trying to write a custom install profile which includes a make file to download specific modules automatically. Running `drush make` displays `This command is not supported yet by Backdrop.`...

Can we add support for drush make to Backdrop?

---
PR: https://github.com/backdrop-contrib/drush/pull/132

[2018-01-20 14:01] serundeputy commented on #130
Thanks @BWPanda can you provide an example of the `makefile` or maybe even a simplified version of it as a target use case for this functionality?

It is definitely possible to get this going.

[2018-01-20 18:36] serundeputy commented on #130
I've added a PR: https://github.com/backdrop-contrib/drush/pull/132

That constructs a `bmake` command from the ground up (rather than porting the existing `drush make` command). I did it that way because:

1. `drush make` command is huge and does a lot of things; I would not be able to comprehend and port them in a few hours.
2. Much of the way drush interacts with d.org is very different in Back

[2018-01-20 22:11] ghost commented on #130
I'll look into this tomorrow possibly, but I can say now that if there's any possibility of not having a dependency on yaml, that'd be great.

I have no idea what yaml is, only that I've heard of it in conjunction with D8 as one of the many new technologies I'd have to become familiar with in order to use it (and one of the reasons I didn't go down the D8 path).

If it needs to stay, I'll be ok wi

[2018-01-20 22:53] serundeputy commented on #130
@BWPanda I didn't know about the info file format for `make` i just saw the `yaml` they currently use; I'm sure I can refactor to use the `.info` format.

I'll look into it

[2018-01-21 03:31] serundeputy commented on #130
I've updated the PR to use the PHP ini format:

[code]

As of now the version numbers have no effect; I still need to refactor `dl` to accept a `--version` option and allow users to pin versions for there builds.

[2018-01-21 19:11] serundeputy commented on #130
I've updated the PR to give `dl` a `--version` option which a user can pass in a specific version of a module, theme, or layout:

[code]

In turn the `drush bmake` command can now pass the `version` strings from the `make.ini` file into the new `--version` option. So if you have a makefile called `myfile.make.ini`the command:

[code]

will download backdrop, prompt for interactive install (DB cred

[2018-01-21 22:20] serundeputy commented on #130
per gitter; refactor to `drush bake` and examine aliases.

[2018-01-22 00:19] ghost commented on #130
Thanks @serundeputy! Let me know if/when you want me to test your work. In the meantime, here's a list of things I'd love to be able to do with a make file (not sure if you've already accounted for these things or not):

- Support Backdrop multisites (e.g. download modules (and themes, etc.) into /sites/[SITE_NAME]/modules/ and not need to download Backdrop core each time)
- Download latest, stabl

[2018-01-22 02:04] serundeputy commented on #130
Thanks @BWPanda This is a great list and will help me focus development!

  * `drush bmake` does not currently do this; I'd like to open a new feature request issue for this one. We can make it happen
    * we'll need to add a `destination` or a `path` option to the `drush dl` command that we can then have `drush bmake` hand off to the new option
    * we'll also have to add some sort of option an

[2018-01-22 03:18] BWPanda opened #133 "[bmake] Add '--no-core' (or similar) argument/functionality"
As per https://github.com/backdrop-contrib/drush/issues/130#issuecomment-359305446, I'd like `bmake` to support installing modules, themes, etc. into an existing Backdrop installation. This means not installing Backdrop core (either via a command-line argument, or a setting in the make file itself).

From the original post:

[2018-01-22 03:23] BWPanda opened #134 "[bmake] Support non-Backdrop projects"
As per https://github.com/backdrop-contrib/drush/issues/130#issuecomment-359305446, I'd like to see `bmake` support non_backdrop projects, such as other GitHub repositories, custom URLs, jQuery libraries, etc.

An example use-case for this would be my personal Backdrop base theme: https://github.com/PackWeb/pw_theme
It's not on backdrop-contrib as it's specific to my needs, but I use it on every B

[2018-01-22 03:25] ghost commented on #130
Thanks! I've added issues as above. I didn't bother creating an issue for leaving out the BD core version (`1.x`) as I can see how that's probably not even possible with the way Backdrop/GitHub is setup. So never mind about that.

[2018-01-22 23:14] serundeputy commented on #130
@BWPanda Great!  I've merged the PR as is so we can iterate on the new issues.

That means feel free to update your drush and test and use the current `bmake` and I'll start on the other issues.

[2018-01-22 23:14] #130 closed

[2018-01-26 03:33] ghost commented on #134
Also, when you do this, please allow for both keeping and removing `.git` directories.

On the one hand, if you download a git repo, you often don't want all the hidden files and everything that comes with it (just download and forget).
On the other hand, sometimes you want to keep the git repo linked upstream so you can pull down changes in future.

Drupal's drush has a `--working-copy` argument

[2018-03-06 07:05] mikemccaffrey opened #135 "config export doesn't like absolute paths"
When I set my config directory location in settings.php using an absolute path, the backdrop-config-export command didn't work, saying:
[code]
Is the drush command not anticipating that someone can put an absolute path there, or was something just wrong on my end?

[2018-03-07 13:15] serundeputy commented on #135
@mikemccaffrey it is not you!

The `bcex` command is expecting a path relative to the `BACKDROP_ROOT` https://github.com/backdrop-contrib/drush/blob/1.x-0.x/commands/config/backdrop_config_export.drush.inc#L43

We could/should do some detection of a leading `/` or absolute path and add logic as needed.

[2018-03-07 19:21] haunted2 opened #136 "drush "archive-dump" command"
I would like to see this command available for backdrop.
Thanks.

[2018-03-07 20:00] jerry-hudgins commented on #136
So would I, though I've worked around its absence for now via a Bash script which emulates the basic single-site backup/restore functions via tar and the existing drush sql-dump/sql-drop/sql-query commands. Let me know if you'd like a copy.

[2018-03-07 20:10] serundeputy commented on #136
@jerry-hudgins that sounds good; want to post a repo URL or a gist? or turn it into a PR against backdrop drush here?

[2018-03-07 20:59] jerry-hudgins commented on #136
As this is no more than a quick workaround, it's probably best to just attach it here for those who might find it useful until the proper archive-dump command is implemented. It's working OK for me.

maintenance_mode.php is a drush script and should go in ~/.drush/commands/backdrop .
bdbackup and bdrestore can go where you like; I use ~/bin .

bdbackup keeps the last BACKUP_COUNT (currently 5) cop

[2018-03-07 21:22] serundeputy commented on #136
@jerry-hudgins thanks!

we use this on backdropcms.org which can be run on cron as well; it backs up files and db, with a specified number of backups to keep before rolling over stale copies and we use git to backup the codebase.

https://github.com/serundeputy/sql-dump-sanitize

In case that is helpful for now @jerry-hudgins or @haunted2

[2018-03-14 00:48] jenlampton opened #137 "Command `drush en` doesn't work for core modules"
I retested this today with the latest from https://github.com/backdrop-contrib/drush/issues/7 and confirm `drush en` still does not work with ckeditor.

Note copied from  https://github.com/backdrop-contrib/drush/issues/7#issuecomment-326193615

I'm not able to enable core modules with drush. I get the following errors now:
[code]
that's not good advice :( See https://github.com/backdrop-contrib/d

[2018-03-14 00:50] jenlampton opened #138 "Command `drush en` doesn't work for custom modules"
I retested this today with the latest from #7 and confirm drush en still does not work with custom modules.

copied from  https://github.com/backdrop-contrib/drush/issues/7#issuecomment-326193615

I'm not able to enable core or custom modules. I get the following errors now:
[code]

That suggestion is not going to work since `jeneration` is a custom module. See https://github.com/backdrop-contrib/

[2018-03-14 03:32] jenlampton commented on #7
Okay, I've noted all the problems we're having with `drush en` in other issues. Since https://github.com/backdrop-contrib/drush/pull/51 has been merged, I'm going to close this one.

[2018-03-14 03:34] serundeputy commented on #7
@jenlampton that was merged into `master` but not the canonical branch `1.x-0.x` yet.

[2018-03-14 03:37] jenlampton commented on #7
ugh, this project is a bit of a mess. can we delete the master branch? Also, can we rename 1.x-0.x 1.x-1.x, or make a new one? or, can you document how all these branches are being used if there's a method to it all?  I'm lost. (obviously)

[2018-03-14 03:38] serundeputy commented on #7
@jenlampton I believe `master` branch is deleted; but you may have a local copy of `master` still?

[2018-03-14 03:40] serundeputy commented on #7
the `1.x-0.x` reflects semver convention that this is not a stable project yet ... i.e. problems w/ compatibility between D7 and Backdrop.

[2018-03-14 03:40] jenlampton commented on #7
Hm, I don't have a master... but I do have all these:
[code]

[2018-03-14 03:42] serundeputy commented on #7
So `git checkout contrib/ongoing-saga-of-en` should have @opi 's commits on it

[2018-03-14 03:42] jenlampton commented on #7
Hm, there's a big difference between `stable` and `problems w/ compatibility between D7 and Backdrop.`

[2018-03-14 03:44] jenlampton commented on #7
Yes, I'm not saying the commits were't committed at all. But as I said above, I believe they were pushed accidentally to that mystery branch on the main repo.

The PR that was linked in the issue was from your [serendeputy/ongoing-saga-of-en](https://github.com/backdrop-contrib/drush/pull/98) branch, so that's the code everyone had been working off.

There is no PR (yet?) for this new branch where

[2018-03-14 04:13] jenlampton opened #139 "Command `drush dis` disables profiles with modules"
Today I tried to disable the ckeditor module using drush, and accidentally disabled the `standard` install profile too:

[code]

Since neither standard (a profile) or ckeditor (a core module) can be enabled using drush, I ended up in a bit of a pickle!

[2018-03-14 04:32] jenlampton commented on #72
Also...

[2018-03-14 04:40] jenlampton commented on #108
I'm not sure your changes made into the latest code for #7. I'm still unable to enable submodules:
[code]

[2018-03-14 07:29] opi commented on #7
I don't understand why PR #98 was closed...

[2018-03-14 12:08] serundeputy commented on #7
@jenlampton @opi reopened PR 98 that has @opi and @serundeputy 's work on it.

[2018-03-14 16:16] jenlampton commented on #7
More recent work was being added/committed to another branch - unrelated to that PR - that was not mentioned anywhere in this issue. Because of that, I wasted the time I had to work on this issue testing the PR that *was* linked from this issue, which of course wasn't going to be any help :/

I closed that PR and updated this issue to save the next person who wanted to work on this issue (perhaps

[2018-03-19 18:40] jenlampton commented on #96
I've tried a few other databases and so far been unable to reproduce this issue. Closing.

[2018-03-19 18:42] jenlampton commented on #109
It think this might have more to do with how they are using Git. It sounds like they forgot to `git rm` the files that were removed by the sync. It happens to me sometimes too ;)

[2018-03-25 23:53] jenlampton opened #140 "Prevent download suggestion from appearing when it shouldn't"
Sometimes when you are trying to enable a custom or core module, drush will recommend you use `drush dl` to download it, which will not work. I'd like to find a way to prefent drush from giving our users bad advice.

`
Try downloading jeneration first with the command: drush dl jeneration
`

* Let's check to see if the module requested is in core, and if so, not print the suggestion.
* Let's check

[2018-03-26 00:04] jenlampton commented on #85
@cellear I've got MAMP running all my backdrop sites, and I have a drush PHP version specified in my `.bash_profile` as follows:
[code]

I have drush installed at `cd ~/drush` (it's a clone of the `drush-ops/drush` github project, checked out to the 8.x branch) and I have backdrop's drush project cloned into `~/drush/commands/backdrop` (this a clone of the `backdrop-contrib/drush` github project).

[2018-03-26 00:34] jenlampton commented on #96
Well, this error reappeared for me today, so re-opening :/ The site I'm working on is also a D6->D7->B upgrade.

The config location *should* be irrelevant. Updating from Drupal 7 should always start with an empty config directory, as those files are created by the update.

I wonder if this has something to do with the order the updates are executing in. For example, if an update fires that depend

[2018-03-28 00:30] jenlampton opened #141 "Command `drush en` doesn't work for sub-modules"
I retested this today with the latest from #7 and confirm `drush en` still does not work with views_ui module. I get the following errors:

[code]

that's not good advice :( See #140 about preventing the error message for appearing for sub-modules.

[2018-04-18 23:32] jenlampton opened #142 "re-enable `drush sa` for backdrop sites"
We should be able to get a list of all site aliases from within a backdrop root, as the aliases have nothing to do with backdrop.

[2018-04-19 11:33] opi commented on #142
`drush sa` works perfectly here.

My drush aliases file is located at `path/to/docroot/drush/projectname.aliases.drushrc.php`, generated by my BoilerDrop script https://github.com/opi/boilerdrop/blob/master/scripts/create_project#L81-L96

[2018-04-27 12:57] ghost commented on #72
@jenlampton Sorry, I have a bash alias `dup` that runs `drush rf && drush up`. It was the `rf` that was triggering the 'not supported yet' message.

[2018-04-27 13:05] ghost commented on #37
Added PR that fixes this (with my testing).

[2018-05-15 11:00] ghost commented on #73
I re-wrote @kalabro's Drush command to make it Backdrop-friendly. It's available here and working nicely from my testing: https://gist.github.com/BWPanda/c82f09d8490b5a04a8b5468e001df642

[2018-05-15 12:46] serundeputy commented on #73
@BWPanda if you want to file it as a PR i'm not opposed to putting it into `backdrop-contrib/drush`

[2018-05-15 13:24] ghost commented on #73
@serundeputy If there's interest from others, then I'd be happy to do that. Otherwise for now I'm fine with it being separate (I've always used the Drupal version as such).

[2018-05-30 17:52] quicksketch commented on #106
I just ran into the _exact_ situation. Down to the "first x, then y" errors reported by @lynna-spidersilk. I had just done a fresh OS install, so this is starting entirely from scratch.

I followed the Drush 8 steps from http://docs.drush.org/en/8.x/install/:
[code]

Then I followed the Backdrop drush extension install instructions.

_However_, after doing a `drush cc all`, now everything works ju

[2018-05-30 17:57] serundeputy commented on #106
So, seems specific to having installed drush via a `phar`. I have never done that; so that does identify a difference.

[2018-08-13 07:36] ghost commented on #37
This is working, so closing this issue now...

[2018-08-13 08:11] BWPanda opened #144 "`drush up` improvements"
Here's the output of updating 4 modules in Backdrop (`drush up comment_notify font_awesome simple_mailsystem xmlsitemap`):

[code]

And here's the output of updating 4 modules in Drupal (`drush up ctools devel module_filter views`):

[code]

Notes:

- Drupal's output is much more concise (a lot less text output for the same number of modules, and Drupal's even had database updates)
- Backdrop requ

[2018-08-13 08:15] ghost commented on #144
Also, I just noticed that two of the Backdrop modules I updated actually have database updates, but that didn't happen automatically, got to do it from the UI... Marking as a bug also.

[2018-08-13 12:26] serundeputy commented on #144
Yeah; output could be better; definitely agreed.

Which modules needed the DB updates?  All four have output of `No datbase updates required`, so stating which modules required the updates will help us fix this bug.

I'd prefer if you open a separate issue for the DB updates not being detected and run. So that this ticket can stay focused on one purpose.

[2018-08-13 12:44] BWPanda opened #145 "`drush up` doesn't always run database updates"
When updating modules via `drush up`, database updates aren't always run automatically. See https://github.com/backdrop-contrib/drush/issues/144 for the initial discovery about this.

----

PR: https://github.com/backdrop-contrib/drush/pull/158

[2018-08-13 12:50] ghost commented on #144
I think the modules with updates were https://github.com/backdrop-contrib/font_awesome/releases/tag/1.x-1.2.5 and https://github.com/backdrop-contrib/simple_mailsystem/releases/tag/1.x-1.0.2. I've created a separate issue for the bug (link above).

[2018-08-13 14:00] serundeputy commented on #145
Suspected module updates that update hooks were not run on:

* https://github.com/backdrop-contrib/font_awesome/releases/tag/1.x-1.2.5
* https://github.com/backdrop-contrib/simple_mailsystem/releases/tag/1.x-1.0.2

To try to reproduce:

*  install the previous versions of said module(s)
* run `drush up font_aweseome`
  * see if update hooks fire

could be related to multiple update (array) handlin

[2018-08-13 18:16] ghost commented on #145
Hmm, can't replicate this now... Tried one module with update, then two modules with updates, then 3 modules (two with updates, one without). All work fine.

Will close for now and re-open if it happens again.

[2018-08-15 18:16] alexfinnarn opened #146 "Get "runserver" command to work"
https://travis-ci.com/alexfinnarn/highlightjs_wysiwyg/builds/81939957#L794

I'm trying to get Behat tests running on PRs via Travis CI working as I've done so on Drupal 7 contrib modules.

The runserver command isn't supported by Backdrop, and I'm not sure why that is or how different that command will need to be for running Backdrop sites.

I've tried using `php -S` with the built-in server, but

[2018-08-16 12:58] serundeputy commented on #146
@alexfinnarn is Behat going to work w/ Backdrop? I guessing we'll need to fork the Drupal and/or drush drivers for Behat and do some tweaking.

I've not specific looked into this, but Behat is on my radar and that was the outline that was forming in my mind.

Have you tried Behat tests with Backdrop locally yet?

[2018-08-16 20:31] alexfinnarn commented on #146
@serundeputy Behat will work with anything accessible via a browser. I think you are thinking of always using the Behat Drupal Extension, which would probably take some work to try and be able to use all the step definitions.

However, I removed that extension from the Drupal tests I've been writing since it added more cruft I didn't use most of the time and caused other depdencies to update...you

[2018-08-16 20:33] alexfinnarn commented on #146
Selenium/JS emulation can be tricky so I was going to start out with just `behat/mink-goutte-driver`.

[2018-08-16 23:37] alexfinnarn opened #149 "Missing a break; statement"
fixed in https://github.com/backdrop-contrib/drush/pull/148/files

[2018-08-16 23:39] alexfinnarn commented on #146
I ended up getting https://travis-ci.com/alexfinnarn/highlightjs_wysiwyg/builds/82093482 to work. Hoorays! So, I at least know it works for a quick smoke test purpose. I will continue to add more to that testing template and might encounter other issues...also, of course, I ought to test it out locally, too.

[2018-08-17 18:30] serundeputy commented on #149
Merged thanks!

[2018-08-17 18:30] #149 closed

[2018-08-27 15:38] robertgarrigos opened #150 "drush si <profile_name> gives error"
`drush si <profile>` should install a site with the given profile, but it's not working. I'm trying, over lando:

`lando drush si my_profile --db-url=mysql://backdrop:backdrop@database/backdrop`

which gives the error:

`Sorry, the profile you have chosen cannot be loaded.fwrite() expects parameter 1 to be resource, string given in drush_print() (line 45 of phar:///usr/local/bin/drush/includes/out

[2018-08-27 15:57] kreynen commented on #150
Since we need this working, I'd take a look.  Does this only happen with a specific profile?  Is that profile public so I can test this myself?

[2018-08-27 16:26] robertgarrigos opened #151 "drush si --account-pass ignored"
when running the drush si command with account options, pass option gets ignored somehow. Drush prints out the right password as being used, however, that password doesn't get you in. Is it modified some how? Is it a bug?

[2018-08-27 16:49] robertgarrigos commented on #150
It's not a public profile (yet). It's a profile I'm working on, but it works when installing thru web.

[2018-08-28 13:16] ghost commented on #37
Oi, this isn't fixed/committed yet, don't know what I was thinking...

[2018-08-31 10:04] ghost commented on #73
So I've made a PR to add this in to Drush. I've changed it somewhat from the version I posted before, hopefully for the better ;-)

Give it a try and let me know what you think.

[2018-08-31 20:04] ghost commented on #145
So this happened again. I updated font_awesome and save_draft at the same time. Database updates were available for both. Font Awesome offered to update first, and appeared to do so, but then when Save Draft also offered to update, the Font Awesome update was listed again, and performing the update made drush hang (nothing happened and I had to Ctrl-c to cancel it). Performing the same updates (ne

[2018-09-17 20:44] jenlampton commented on #46
@serundeputy I'm seeing #47 as merged but when  I run `drush sqlsan` I still get the error `This command is not supported yet by Backdrop.`

What branch was it merged onto? I'm on 1.x-0.x currently.

[2018-09-29 16:26] opi opened #153 "Cache not (always) cleared with updates"
From https://github.com/backdrop/backdrop-issues/issues/3294#issuecomment-423778432

Relevant quote:

[2018-10-15 19:18] klonos commented on #106
I am seeing the same error in [beetbox](https://github.com/beetboxvm/beetbox) installations (uses https://github.com/geerlingguy/ansible-role-drush to install drush):

[code]

Actually, I need to run `drush cron` via `sudo`, otherwise I get lots of "rmdir/unlink(/tmp/...) Permission denied ..." warnings. I never had to run `sudo drush` for other commands before.

[2018-10-15 19:23] serundeputy commented on #106
@klonos What are the permissions on the beetbox `/tmp` directory?

Drush runs as the cli user (i.e. the user you are logged in as) whereas Backdrop runs as the web user so depending on the file permsission drush may not be able to perform these unlinks.

Do and `ls -alh /tmp` and paste the results here please.

While your at it you might make sure that the cli user that you are running drush as ha

[2018-11-04 00:53] oadaeh opened #154 "Cannot execute drush uli with a parameter"
When executing drush uli with a parameter, such as --uid, an error is generated:

The _drush_user_get_users_from_options_and_arguments() is called within backdrop_command_user_login() in commands/user/backdrop_user.drush.inc.

The command was removed from Drush in this commit:
[code]

I tried just copying back in the missing functions, but the rabbit hole just kept getting deeper. Also, it does no

[2018-11-08 12:33] klonos opened #155 "Call to undefined function Drush\Boot\backdrop_get_profile() when config directory not empty."
I have dropped the db tables in a setup in order to start afresh, but when running `drush status` I get this error:

[code]

...trying to access the site revealed the known message:

Can we catch that and throw the same error in the drush command instead of the "cryptic" `Call to undefined function Drush\Boot\backdrop_get_profile()`?

[2018-11-24 04:53] klonos commented on #7
@jenlampton in the PR you have commented to use `git checkout contrib/ongoing-saga-of-en`, but there is no such branch; while there exists a `ongoing-saga-of-en`:

[code]

Anyway, it seems that `pm-enable` works for modules, but not for themes:

[code]

...nor does `backdrop-pm-enable` (for themes):

[code]

I hope I have gotten the correct branch.

[2018-11-24 04:56] klonos commented on #7
...I thought that maybe that was because the theme I was trying to enable was in a non-standard theme folder (under `/core/modules/simpletest/tests/themes/test_theme`), but it does not work with the default core themes either:

[code]

[2018-11-24 05:00] klonos commented on #7
...and it does not work for contrib themes either:

[code]

[2018-11-24 05:03] klonos commented on #7
...verbose output in case it helps:

[code]

[2018-11-24 15:04] serundeputy commented on #7
@klonos the current code is not making any  attempt at themes or layouts yet, just modules.  Once we stabilize that we should be able to apply the same pattern to themes and layouts.

[2018-12-25 15:30] serundeputy commented on #154
Thanks @oadaeh

I had not been a user of the `--name`, `--uid` and `--mail` options before!
I've filed a PR https://github.com/backdrop-contrib/drush/pull/156 to respect these options.

If you are up for testing that would be great.

thanks,
~Geoff

[2018-12-25 16:13] serundeputy commented on #150
thanks @robertgarrigos and @kreynen

I've filed a PR at https://github.com/backdrop-contrib/drush/pull/157

In my testing I able to install the `minimal` profile with:

[code]

please give it a test and see if it works for you.

[2018-12-25 16:45] robertgarrigos commented on #150
Thanks @serundeputy. How can I specify to use this pr instead of the stable drush lando uses?

[2018-12-25 17:04] serundeputy commented on #150
https://github.com/backdrop-contrib/drush/wiki

Once you have that; use git to checkout the branch you want

[2018-12-25 17:08] robertgarrigos commented on #150
ok thanks

[2018-12-25 18:03] robertgarrigos commented on #150
I tried this pr. It looks like it's working, this is, Backdrop gets installed with any profile available (my own profile also). That's good.

However, I cannot login to Backdrop with the credentials  provided by the script. I tried by adding --account-name and --account-pass arguments and cannot login either. I guess this is a different issue.

Did you manage to login to Backdrop once installed?

[2018-12-25 18:06] robertgarrigos commented on #150
I've just seen there is a `backdrop-user-password` command for drush. I used it to change the password successfully.

[2018-12-25 19:18] serundeputy commented on #150
Thanks @robertgarrigos
yeah; let's handle the pw problem in https://github.com/backdrop-contrib/drush/issues/151

Thanks for testing!
merged!

[2018-12-25 19:18] #150 closed

[2018-12-25 19:42] serundeputy commented on #153
Why would  you  expect/need cache to be cleared on `drush updb` if there are no updates?

[2018-12-26 08:41] robertgarrigos commented on #151
We should provably change the title of this issue, as the problem its not only with the ignoring of the argument, but that there is no way to login to the backdrop just installed, even with the drush generated password.

[2018-12-26 14:03] serundeputy commented on #151
indeed;

the work around for now is once the site is installed use:

[code]

this will get you a one time login link to the site.

[2018-12-27 23:07] serundeputy commented on #145
@BWPanda thanks for the STR
PR: https://github.com/backdrop-contrib/drush/pull/158

I was able to replicate the problem and this PR solved it for me.  Give it a test if you get a chance thanks!

[2018-12-28 14:39] opi commented on #153
Probably to be consistent with the `update.php` behavior, which clear the cache anyway. See https://github.com/backdrop/backdrop-issues/issues/3294#issuecomment-423744239

[2019-01-12 18:56] serundeputy commented on #97
the reason this does not work is that `drush help {command}` passes off to `helpsingle` ... the solt'n is to allow `helpsingle` as a `safe_command` in backdrop drush.

PR: https://github.com/backdrop-contrib/drush/pull/159

while this allows `drush help dlb` to be more useful to Backdrop users, it is still does not work great for all commands, i.e. for commands that are backdrop specific it works

[2019-01-12 18:59] serundeputy commented on #154
Merged #159.

[2019-01-12 18:59] #154 closed

[2019-01-12 19:01] serundeputy commented on #145
Merged #158.

[2019-01-12 19:01] #145 closed

[2019-01-12 20:05] serundeputy commented on #32
Updated and merged https://github.com/backdrop-contrib/drush/pull/160
It just generates a base `*.info` file and a `*.module` file with nothing but the opening `<?php` tag ... folks don't have to use it if they don't want to.

Perhaps in the future we can iterate and prompt if they hook_THIS or hook_THAT or whatever.

[2019-01-12 20:05] #32 closed

[2019-01-12 23:29] serundeputy commented on #129
@quicksketch explained that this is because `drush rn` uses `git log` under the hood and `git log` can not give a diff log from releases that are on different branches.

closing as cant' fix.

[2019-01-12 23:34] serundeputy commented on #106
As this is specifig to `phar` installs and using `drush cc all` will allow `drush cron` to work I'm closing this as there is no action item for the Drush Backdrop Extension.

As for Beetbox my best guess is permissions, perhaps editing the drush ansible role to be more specific to BB would help, but again no action item for this repo.

[2019-01-12 23:34] #106 closed

[2019-01-12 23:37] serundeputy commented on #15
No activity and `cannot reproduce` closing.

If someone comes up with STR we can re-open.

[2019-01-12 23:37] #15 closed

[2019-01-13 08:36] opi commented on #142
@jenlampton still have trouble with `drush sa` ?

[2019-01-13 08:38] opi opened #161 "Add support for core-rsync"
Works pretty well as site alias are now supported (#65) ;

Existing PR is https://github.com/backdrop-contrib/drush/pull/126 , but I guess a proper issue will get more traction.

[2019-01-13 08:40] opi commented on #97
Tested this morning on 0.1.0 release, and `drush help bcex` works outside **and** inside of Backdrop installations.

[2019-01-13 08:41] opi commented on #97
and https://github.com/backdrop-contrib/drush/pull/159 is merged, so closing this issue.

[2019-01-13 08:41] #97 closed

[2019-01-14 21:39] jenlampton commented on #142
no, it works! :)

[2019-01-14 21:39] #142 closed

[2019-01-15 21:58] jenlampton commented on #129
But the commit message on both commits is identical, even though the commit hash is different. Drush can loop over all the commits, and if the log message is identical on two commits, it can strip one out. Drush is greater than Git here, so we should make our tools do what git cannot :)

Managing release notes for core releases is a real pain when we do a lot in the bug fix releases (which is good

[2019-02-11 19:11] robertgarrigos opened #162 "bcim doesn't create tables for new fields"
bcim doesn't create the field tables of a new field created in the devel site.

How to reproduce this:

Devel site:
1. Create a new field either for a content type or for the user account
2. `drush bcex`
3. git commit and push

Staging site:
1. `git pull`
2. `drush bcim`
3. Go to edit the field: error is triggered

This is a drush related error, as importing the new configuration files with backdr

[2019-02-21 07:29] BWPanda opened #163 "Undefined constant DRUSH_BOOTSTRAP_BACKDROP_FULL"
I'm seeing the following warning when running drush commands for Backdrop:

[2019-03-13 09:00] ghost commented on #163
Oops, not only is this the wrong project, but I've already posted an issue for this :grin:
Duplicate of https://github.com/backdrop-contrib/libraries/issues/8

[2019-03-13 09:00] #163 closed

[2019-05-06 21:27] klonos opened #164 "`drush dlb` does not download latest version if multiple releases happened on the same date"
This was reported and confirmed over discussions on Gitter:

@michaelmcandrew:

@serundeputy:

[2019-05-06 22:07] michaelmcandrew commented on #164
thanks for fililng this @klonos :)

[2019-05-07 00:19] klonos opened #165 "Support listing users (`drush user-list`)"
In D7 you need [Drush User List](https://www.drupal.org/project/drush_user_list) to be able to do that, but this implies that it will only work on a per-site basis. Can this be implemented on the drush-level, so that it is a global command? Does it have to be supported by the main drush script, or can we implement it as a drush command? ...and in the later case, will it then also work for D7 sites

[2019-05-07 00:24] klonos commented on #165
In https://drupal.stackexchange.com/questions/159355/how-to-list-all-users-in-drush it is suggested to use `drush uinf` + `drush sqlq`, like so:

`drush uinf $(drush sqlq "SELECT GROUP_CONCAT(name) FROM users")`

...but there is a note to say that this command might fail if certain special characters are used in the username. During my tests, I got errors when usernames had spaces in them (very co

[2019-06-03 20:09] drupol opened #167 "_create_database() is missing a $host and $port parameter"

[2019-06-04 12:23] #167 closed

[2019-06-04 12:24] serundeputy commented on #167
Thanks @drupol !

Looks good works, good!

Merged into `1.x-0.x` will ship w/ next release.

[2019-06-04 17:09] jackaponte opened #169 "Support drush user-create (ucrt)"
The `drush user-create` aka `drush ucrt` command is not yet supported for Backdrop; filing this feature request as it would greatly benefit my coop in our development work!

PR by @jackaponte : https://github.com/backdrop-contrib/drush/pull/176

[2019-06-11 21:16] jackaponte commented on #7
Hi all! Getting `drush en <module>` is high priority for our team; we'd like to help move this along but I'm not sure where things are at. In [this earlier update on this issue](https://github.com/backdrop-contrib/drush/issues/7#issuecomment-441343694) @klonos says `pm-enable` is working for modules in a certain branch (maybe `ongoing-saga-of-en`) -- has that been confirmed? Is work needed on that

[2019-06-11 22:20] serundeputy commented on #7
thanks @jackaponte ! the main blocker is that it `sometimes` under some unknown set of circumstances breaks drush for drupal 7.

I myself have not been able to nail down or reproduce the circumstances.

So, you can try out https://github.com/backdrop-contrib/drush/pull/98 and see if it:

- works for you on Backdrop and Drupal 7 sites
- does not work for you then detail
  - what the error is
  - as

[2019-06-12 00:15] jackaponte commented on #7
Testing the `serundeputy:ongoing-saga-of-en` branch, `drush en` and `drush dis` with the `stage_file_proxy`, `devel`, `devel_generate` (to test dependencies) and `contact` modules on my local machine (Debian 9, Apache 2.4.25, PHP 7.2, Drush 8.2.3) on the following six different sites and it works with no errors:

* Backdrop 1.12.6
* Backdrop 1.12.3
* Backdrop 1.13.1
* Drupal 7.67
* Drupal 7.67
* D

[2019-06-12 11:49] serundeputy commented on #7
That is great news @jackaponte do you have any mac users that could test on a local?

[2019-06-12 18:17] jenlampton commented on #7
My local is still running on MAMP, let me give it a test...
* fetched `serundeputy` remote
* checked out latest `serundeputy/ongoing-saga-of-en` branch

---

**Tested a Backdrop site (on MAMP):**
1a) Contrib module enable test `drush en devel -y`
[code]
1b) Contrib module disable test `drush dis devel -y`
[code]

1c) Contrib submodule enable w/ dependancies test `drush en devel_generate -y`
[code]

[2019-06-12 19:02] jenlampton commented on #7
@serundeputy this seems to work fine now on my local D7 sites. :)

I say we merge this so we can and start working on https://github.com/backdrop-contrib/drush/issues/136 and https://github.com/backdrop-contrib/drush/issues/137

[2019-06-12 19:26] jenlampton commented on #7
@jackaponte I'm getting different results. Can you please post the exact drush commands you were running so I can compare? In particular, what you did for core modules, and for the one with dependancies.

[2019-06-12 22:04] jackaponte commented on #7
Here you go: my local tests with responses corresponding to your numbering in your post above; all testing today is with the most recent commit `99d7f2c869` in the `serundeputy/ongoing-saga-of-en` branch.

**Tested a Backdrop 1.13.1 site:**

1a) Contrib module enable test `drush en devel -y`

[code]

1b) Contrib module disable test `drush dis devel -y`

[code]

1c) Contrib submodule enable w/ depe

[2019-06-12 22:56] jenlampton commented on #7
Sanity checks:
* confirmed I am also running the 8.2.3 tag for drush 8
* Confirmed that the last commit I have on `serundeputy/ongoing-saga-of-en` is also `99d7f2c869db0577`
* ran `drush cc drush`
* closed and re-opened terminal window to get a new session or whatever

Things in my bashrc file:
* drush PHP version `DRUSH_PHP=/Applications/MAMP/bin/php/php7.1.6/bin/php`
* drush alias `alias drush=/

[2019-06-12 23:36] jenlampton commented on #7
This is weird:

Deleting the `commands` directory entirely from the backdrop drush project does not change the above results at all. I believe that's where all the Backdrop specific command code is. The code that makes things like `drush en` work for Backdrop sites.... But on my computer it's not even running.

[2019-06-12 23:50] jackaponte commented on #7
Are you using a different copy of `drush` installed elsewhere on your computer by accident? I've done that before...many, many times...

[2019-06-12 23:53] jenlampton commented on #7
How would it know I was running a Backdrop site if I were?

[2019-06-12 23:54] jackaponte commented on #7
That other copy also has a different version of Backdrop commands installed? Just a guess!

[2019-06-13 00:06] jenlampton commented on #7
@jackaponte yep, that was it!
`which drush` says `/Users/jlampton/.composer/vendor/bin/drush`
I really hate composer. It's such a piece of garbage.... :(
ahhhhh the joy of `rm -rf ~/.composer`

Okay, fixed that, testing again...

[2019-06-13 00:56] jenlampton commented on #7
**Tested a Backdrop 1.13.1 site on MAMP:**

1c) **success** Contrib submodule enable w/ dependancies test `drush en devel_generate -y`
[code]
2) **success** Core module `drush en dashboard -y'
[code]

3) **success** Custom module `drush en custom_blocks -y`
[code]
---
**Tested a Drupal 7.67 site on MAMP:**

1a) Contrib module `drush en devel -y`
[code]
1b) Contrib module `drush dis devel -y`
[code

[2019-06-13 00:59] jenlampton commented on #7
@serundeputy 	I think this is close enough to merge. It's usable and doesn't break anything, and everyone will benefit from it being in Drush :) All the remaining issues are spacing or singular/plural problems and are only cosmetic.

RTBC :)

[2019-06-13 01:00] jenlampton commented on #137
This will be fixed with the PR from https://github.com/backdrop-contrib/drush/issues/7

[2019-06-13 01:00] #137 closed

[2019-06-13 01:00] jenlampton commented on #138
This will be fixed with the PR from https://github.com/backdrop-contrib/drush/issues/7

[2019-06-13 01:00] #138 closed

[2019-06-13 21:43] #7 closed

[2019-06-13 21:46] serundeputy commented on #7
Thanks @opi @jenlampton @jackaponte @klonos @wesruv for your code, comments, testing and efforts to move this issue forward.

It has been an epic battle starting back in 2016, but I'm pleased to say this is merged and will ship with `0.2.0`.

[2019-06-13 22:13] jackaponte commented on #7
w00t, thanks all for the time and effort put into this!

[2019-06-14 14:10] serundeputy commented on #64
@jenlampton is this still relevant? maybe was fixed by #7?

let's close if this is moot now.

[2019-06-14 14:17] serundeputy commented on #85
@cellear @jenlampton Jen tested this pretty thoroughly in testing #7 ... closing this.

[2019-06-14 14:17] #85 closed

[2019-06-14 14:19] serundeputy commented on #108
this was fixed in #7
closing.

[2019-06-14 14:19] #108 closed

[2019-06-14 14:21] serundeputy commented on #141
this was fixed in #7 ... closing.

[2019-06-14 14:21] #141 closed

[2019-06-14 14:23] serundeputy commented on #139
I think this was addressed in #7 ... closing ... re-open if necessary.

[2019-06-14 14:23] #139 closed

[2019-06-14 14:35] serundeputy commented on #165
I'm for this feature.

  * the backdrop commands will not be picked up by D7 as it checks for a backdrop env before swapping out/injecting any backdrop-drush-extension commands.

[2019-06-14 16:26] #37 closed

[2019-06-14 16:28] serundeputy commented on #37
thanks @BWPanda I've merged this and it will ship with `0.3.0`.

[2019-06-14 21:45] jenlampton commented on #64
It worked with my testing, closing issue.

[2019-06-14 21:45] #64 closed

[2019-06-16 12:41] serundeputy opened #170 "[updb] drush updb broke."
Not sure if it is/was caused by #7 or an upstream change in drush-ops/drush, but I'm trying to hunt it down and fix it.

As a consequence `drush up core` does not complete successfully, it downloads the updated code but can not perform the `updb` at the end.

[code]

[2019-06-16 14:51] serundeputy commented on #170
fixed in https://github.com/backdrop-contrib/drush/pull/171

[2019-06-16 14:51] #170 closed

[2019-06-18 00:47] jackaponte opened #172 "Add support for drush role-add-perm (rap)"
This is another Drush command that would be very handy for my shop's Backdrop development; I imagine it would come in handy for others doing similar work as well.

[2019-06-18 00:49] jackaponte commented on #169
I'm going to try to work on this, though I've not worked on Drush before at all. Any hints are welcome, otherwise I'll be looking at what's been done to date and working from there.

[2019-06-19 17:00] bradbulger opened #173 "cache-clear no longer compatible?"
Getting this notice from drush cc all:

The function drush_cache_clear_both() (cache.inc:99) called deprecated function drupal_flush_all_caches(). It will be removed in the next major release of Backdrop.

[2019-06-19 17:24] serundeputy commented on #173
Hello @bradbulger ; thanks for reporting.

I was unable to replicate; usually that means something with the way your backdrop drush extension is set up.

Here is my output:

[code]

Make sure you have the backdrop drush extension installed in one of  they ways listed in the README: https://github.com/backdrop-contrib/drush/blob/1.x-0.x/README.md and that you are on the latest stable of backdrop-dr

[2019-06-19 19:05] bradbulger commented on #173
I had just set up backdrop drush commands in my ~/.drush/commands directory from https://github.com/backdrop-contrib/drush/releases/latest. I have the Devel module enabled, with the "debug" and "deprecated" severity levels turned on.

The issue isn't the notice in itself, I suppose, but whether or not it is running that drupal_flush_all_caches() function, if it's going away in Backdrop.

[2019-06-19 19:07] serundeputy commented on #169
Sounds good; thanks @jackaponte

Yeah; basically try adding it to `$safe_commands` in `backdrop.drush.inc` and if that does not work look at the drush/drush implementation and port it over to a backdrop drush command.

Let me know if you get stuck on anything!

thanks again!

[2019-06-19 19:16] serundeputy commented on #173
hmmm ... maybe we'll need to implement a native drush cc all then.  Currently we are passing off to drush proper.

* `drush dl devel && drush en devel -y`
* configure devel to show `deprecated` on  `/admin/config/development/devel`
  - check the `deprecated` box in the `ERROR HANDLING` section

[code]

[2019-06-19 20:03] jackaponte commented on #169
Thanks for the support, @serundeputy; I'll let you know how it goes!

[2019-06-21 00:45] jackaponte commented on #169
Adding `user-create` to `$safe_commands in `backdrop.drush.inc` didn't work:

[code]
Next, figuring out what "look at the drush/drush implementation" means exactly, then doing it. Might need to do some learning about working with Drush commands more generally if I find myself too stuck!

[2019-06-21 10:10] serundeputy commented on #169
Thanks for digging into this!

The command callback for `user-create` is `drush_user_create` (https://github.com/drush-ops/drush/blob/8.x/commands/user/user.drush.inc#L303).

Looks like the first thing that function does is instantiate an instance of the User class with `drush_get_user_class()`.

I've not studied the class in question, but seems it did not even load the class.  So we may need to r

[2019-06-26 18:57] bradbulger commented on #173
I think that's the issue, yes. I don't think "cannot reproduce" is an accurate label.

[2019-06-26 19:53] serundeputy commented on #173
* fair enough (i added that label before I knew devel needed to be installed to reproduce).

[2019-06-27 00:12] jackaponte commented on #169
Thanks again for the continued guidance here, @serundeputy!

I followed your advice, creating that new file as suggested, but got stuck fairly quickly at that `drush_get_user_class()` point. I don't know where to go from there to switch to using the Backdrop User class ([this, right?](https://api.backdropcms.org/api/backdrop/core%21modules%21user%21user.entity.inc/class/User/1)) instead of the Dru

[2019-06-27 00:12] jackaponte commented on #169
Forgot to mention, you can check out my work to date here on GitHub: https://github.com/jackaponte/drush/tree/ucrt-take-3

[2019-06-27 14:50] serundeputy commented on #169
@jackaponte nice work!

Looks like we don't need that class as at the bootstrap level of this command we have access to the full backdrop api.

Give this a test when you get a chance: https://github.com/backdrop-contrib/drush/pull/176

[2019-06-28 05:08] ghost commented on #151
Just lost a 1/2 day to this.  Couldn't figure out why I couldn't login after installing a site with drush.
Drupal console install has no problems loggin in.

[2019-06-28 06:28] jackaponte commented on #169
Yay, thanks @serundeputy! I'm glad this helped get this work going.

Ah, I see; that's good to know.

I've tested it; new users are created properly! Though comparing results of the command in Backdrop and Drupal 7 shows there's still work to be done to get all the options working properly; I'll open a separate issue for that, though. :)

I think this is ready to be merged!

[2019-06-28 15:50] serundeputy commented on #169
Thanks for testing @jackaponte !

I've added some output to be more similar to the drupal output:

[code]

merging into `1.x-0.x` will ship with `0.3.0`.

[2019-06-28 15:50] #169 closed

[2019-06-28 17:26] jackaponte commented on #169
Brilliant, thank you @serundeputy!

[2019-06-30 09:39] klonos opened #177 "Does `drush test-run` work?"
I keep getting this error:

[code]

[2019-06-30 13:11] klonos commented on #177
This seems to had been included only in drush 6.x: https://drushcommands.com/drush-6x/core/test-run/

😞

[2019-07-05 06:24] BWPanda opened #178 ""Use of undefined constant" warnings"
I'm getting these warnings when running drush commands:

I believe this is PHP v7 related, and that the fix is just to put those constants in quotes: https://www.php.net/manual/en/migration72.deprecated.php#migration72.deprecated.unquoted-strings

[2019-07-05 14:40] serundeputy commented on #178
Thanks @BWPanda !
Fixed in https://github.com/backdrop-contrib/drush/pull/179

[2019-07-05 14:40] #178 closed

[2019-07-05 15:02] serundeputy opened #180 "Add drush pmu module(s) command."
Add uninstall functionality to drush.

[code]

command accepts a machine name of a module or a list of machine names and runs backdrop uninstall routines.

[2019-07-05 18:32] serundeputy commented on #180
Added feature in https://github.com/backdrop-contrib/drush/pull/181

[2019-07-05 18:32] #180 closed

[2019-07-07 14:39] serundeputy commented on #140
I just tested this w/ a custom module and `en/dis/pmu` all work fine ... so i'm guessing the work from #7 which spanned several years captured this.

closing.

[2019-07-07 14:39] #140 closed

[2019-07-09 01:39] jenlampton commented on #173
I'm also seeing this
[code]
when trying to do a `drush updb -y` (not sure if it's relevant here...)

edit: For me this was caused by being on an old drush branch.

[2019-07-09 01:40] jenlampton opened #182 "Drush updb fatal - looking for Drupal 8 RfcLogLevel"
I'm seeing the following while attempting `drush updb -y`
[code]

[2019-07-11 02:58] greg-1-anderson opened #183 "Please do not recommend `composer global require`"
See [Fixing the Composer Global Command](https://pantheon.io/blog/fixing-composer-global-command).

I would recommend something like:
[code]

This presumes, though, that `/usr/local/bin` and `/usr/local/share/drush` exist and are writable. You might also recommend installing to `$HOME/.composer/vendor/bin` and `$HOME/.composer/global`, or perhaps just point at [cgr](https://github.com/consolidatio

[2019-07-11 03:00] greg-1-anderson opened #184 "Project name is confusing"
backdrop-contrib/drush sounds like a fork of drush-ops/drush. The docs call this the "Backdrop Drush Extension", which is much clearer. Perhaps this could become `backdrop-contrib/backdrop-drush-extension`, or even just `backdrop-contrib/drush-extension`?

Github will redirect from the old name to the new name in most instances if you rename the project. Packagist is slightly less forgiving, thoug

[2019-07-11 11:13] serundeputy commented on #184
I agree @greg-1-anderson .
I don't remember making a deliberate decision to call this `drush`.

I'll work on the name soon. I'm leaning towards `backdrop-drush-extenstion`.

thanks.

[2019-07-11 11:32] serundeputy commented on #183
Thanks @greg-1-anderson

I think that is good advice (very interesting reading). I'll take some time to re-write the README.md to reflect this.

[2019-07-11 11:34] serundeputy commented on #182
@jenlampton do you have `devel` enabled with the show `deprecated` opiton checked as in https://github.com/backdrop-contrib/drush/issues/173#issuecomment-503706357 or is `updb` just always failing for you?

~~I have not had time to try to replicate myself yet.~~

I just tried on a vanilla Backdrop `1.x` and `drush updb -y` ran successfully.  Also worth noting that `drush updb -y` is passing tests

[2019-07-15 22:07] bradbulger commented on #182
When I get this error, it's running drush_watchdog_severity_levels() from the Drush phar code, not the version that is in .drush/commands/backdrop/. This is Drush 8.1.15.

update: ah, no, it's earlier. Drush 8 implements system_watchdog(), which gets called by any watchdog() error, and it is apparently not playing well with Backdrop.

[2019-07-16 05:04] ghost commented on #184
How 'bout `brush`? 😉

[2019-07-16 20:42] jenlampton commented on #182
@serundeputy I found that I was still on the `ongoing-saga-of-en` branch for my checkout of Drush. When I switched to the `1.x-1.x` branch updates work again :)

@bradbulger check your drush branch, are you on `1.x-1.x`?

(going to close this issue -- @bradbulger please re-open if needed!)

[2019-07-17 08:23] ghost commented on #133
Made a PR that makes the 'core' part of make files optional: https://github.com/backdrop-contrib/drush/pull/186

If 'core' is left out, or set to `false`, then the 'build path' parameter must be an existing Backdrop installation for the rest of the make file to work.

Could maybe do with some polish, but should be enough to get started.

[2019-07-17 12:52] ghost commented on #134
I've started a PR (https://github.com/backdrop-contrib/drush/pull/187) for this that allows cloning a git repository (e.g. `pw_module[git] = git@github.com:PackWeb/pw_module.git`), but I'm struggling to get the path working properly. Currently it's cloning the repo into `/BACKDROP_ROOT/modules/...` (i.e. its not converting `BACKDROP_ROOT` into the actual root path). Help needed please!

[2019-07-17 13:05] ghost commented on #134
There are other possibilities to implement after this (e.g. patches, third-party libraries, etc.), but this suits my needs for now, so unless others require additional functionality, I'd say let's try and get this working, release, and then add more functionality as requested.

[2019-07-19 23:02] jackaponte commented on #182
Weirdly I'm seeing the same error under different circumstances, with just one site in just one environment:

[code]

In the environment where this happens I'm running Backdrop 1.13.2, Drush 8.2.3, and the latest commit in branch `1.x-1.x` of the Backdrop Drush commands; it occurs whether I use PHP 7.2 or PHP 7.3.

The identical site (same exact codebase) in a different environment using PHP 7.3 d

[2019-07-19 23:18] jackaponte opened #188 "Add theme support for drush en (enable) and drush dis (disable)"
While `drush en` and `drush dis` both work well for modules, neither works for themes.

Testing with Backdrop 1.13.2, Drush 8.2.3 and Backdrop Drush commands 1.x-1.x (most recent commit).

Results of running `drush dis basis` when the Basis theme is visible as enabled in both Drush and the Backdrop UI:

[code]

However both `drush pml` and the UI show that the Basis theme is still enabled.

Result

[2019-07-19 23:26] jackaponte commented on #182
Now I see I get the same error on a different site in the same environment. On this site `drush cc all` works fine but this doesn't:

[code]
But then look what happens when I immediately run this series of commands after that:

[code]

So...in some cases this problem comes and goes, but when it does happen, it's a fatal error?

[2019-07-20 00:08] jackaponte commented on #172
Working on this on https://github.com/jackaponte/drush/tree/role-add-perm. I've got to a point where I think things are working right until I hit this error:

<pre>
drush rap 'anonymous' 'post comments'
Error: Call to undefined method stdClass::getAllModulePerms() in backdrop_command_role_perm() (line 229 of /opt/drush/8/drush/drush/commands/backdrop/commands/core/backdrop_role.drush.inc).
Drush c

[2019-07-20 00:59] jenlampton commented on #182
@jackaponte check the drush branch, or if you have any patches applied. Maybe delete / replace drush where you are seeing the error, just to be sure?

[2019-07-20 12:51] tabroughton opened #189 "After drush si admin ui asks to update db to utf8mb4 which destroys db"
**Description of the bug**
After using ```dush si``` i get a warning about UTF8mb4 being available but not  all tables updated, running the Database 4 byte UTF-8 upgrade destroys the database.

**Steps To Reproduce**
To reproduce the behavior:
1. install backdrop using drush si
2. log into site as admin (click a red message "1" in banner)
3. read message about UTF8mb4 and click fix
4. run fix - si

[2019-07-20 12:52] tabroughton commented on #189
I have tested using the UI rather than drush and the it doesn't show any warnings about the db needing updating to  utf8mb4  which is as expected (the status screen says utf8mb4 is enabled).

[2019-07-20 12:53] tabroughton commented on #189
also tested on 1.13.2 release of backdrop which has the same issue

[2019-07-20 12:55] tabroughton commented on #189
more info: database is already created before running drush si so it doesn't create the db

[2019-07-20 16:37] tabroughton commented on #189
this isn't an issue with drush after all.  There is an issue that backdrop core isn't checking for utf8mb4 support and setting as active anywhere when running in non interactive (though I've struggled to find where it does set it in interactive, I suspect it is in the check requirements stage somewhere).  I've created a pull request to fix in the main core code.

[2019-07-20 16:37] #189 closed

[2019-07-23 00:02] jackaponte commented on #182
I'm using Drush 8.2.3 with no patches applied; I'm on the 1.x-1.x branch of the Backdrop commands, with commit `ec2fa84d6` as the most recent commit and no difference from https://github.com/backdrop-contrib/drush.git according to `git diff origin/1.x-1.x`.

But as I noted before, the problem comes and goes, fairly inscrutably. When I started writing this update, `drush cc all` was working fine on

[2019-07-23 22:20] bradbulger commented on #182
I am not running drush from checked out code. I'm not entirely sure how to do that. This is my global Drush installation in /usr/local/bin/drush that's running a drush.phar file. The version is 8.1.15. (The "drush version" command does not work in a Backdrop context btw.)

It is loading system_watchdog() from phar:///usr/local/bin/drush.phar/includes/drupal.inc and that causes the attempt to run D

[2019-07-24 10:45] serundeputy commented on #188
You are correct! On the initial pass of `en/dis` commands no attempt was made to encompass themes and layouts.  With the intention of opening a follow up issue for those features.  You did that here!

Let's use this issue for `en/dis` support for themes.

[2019-07-25 22:10] jackaponte commented on #188
Ah great! :)

Sounds good. I'm going to give this a look and see if it's something I think I can sort out, at least partially; assigning this to myself for that.

[2019-07-25 22:12] jackaponte commented on #172
Adding the "help wanted" label here because I'm feeling quite stuck! I might return to this a bit later but will unassign myself from the task should it feel beyond me when I do.

[2019-07-25 23:23] jackaponte commented on #182
@bradbulger Have you tried installing a fresh copy of the Drush Backdrop commands and seeing whether the issue persists for you? You can download the most recent 1.x-1.x release via this link: https://github.com/backdrop-contrib/drush/archive/1.x-1.x.zip

[2019-07-25 23:33] jackaponte commented on #182
`Error: Class &#039;Drupal\Core\Logger\RfcLogLevel&#039; not found` persists for me on this one Backdrop 1.13.2 site, using Drush 8.2.3, Backdrop Drush 1.x-1.x and PHP 7.2.

Some observations in case they jog anyone's memory:

[backdrop_pm_enable.drush.inc](https://github.com/backdrop-contrib/drush/blob/1.x-1.x/commands/pm/backdrop_pm_enable.drush.inc) is the only Backdrop Drush file I can find th

[2019-07-25 23:50] jackaponte commented on #182
Welp, not long later I tried disabling then re-enabling `civicrm` and its dependent modules on the site where this was giving me trouble, and magically the error has gone away when running `drush cc all` (though I did get the error one last time when using drush to disable the modules.) I can't explain why. I'll update this if the error recurs anywhere!

[2019-07-26 16:01] klonos opened #190 "Port views drush commands"
As mentioned in https://github.com/backdrop/backdrop-issues/issues/3729

...to which @quicksketch replied:

[2019-07-26 16:03] klonos commented on #190
...should things live under `/commands/core/views.drush.inc` @serundeputy?

[2019-07-26 16:29] klonos commented on #190
Starting a PR: https://github.com/backdrop-contrib/drush/pull/191

**Untested**; simply added the current version of the `views.druch.inc` file from https://git.drupalcode.org/project/views/blob/7.x-3.x/drush/views.drush.inc, with the following changes:

- changed instances of `variable_get()`/`variable_set()` with `state_get()`/`state_set()`

[2019-07-26 16:35] serundeputy commented on #190
I'd probably put it in a new `/commands/views` directory (possibly breakout commands into there own files, but I'd have to look at the scope of the commands).

Having said that looks like there is much work to be done and testing in the command implementations.

I'm not sure that `variable_*et` --> `state_*et` is the right way to go ... usually things that were variables in Drupal are config in Ba

[2019-07-26 21:38] #133 closed

[2019-07-26 21:38] serundeputy commented on #133
Thanks @BWPanda merged into `1.x-1.x` will ship w/ `1.x-1.1.0`

[2019-07-26 21:43] serundeputy commented on #134
Merged! thanks @BWPanda this will ship w/ `1.x-1.1.0`

[2019-07-27 05:00] ghost commented on #134
@serundeputy Thanks for this, but were you able to fix the bug with the path: https://github.com/backdrop-contrib/drush/issues/134#issuecomment-512240767 The PR wasn't ready to be committed yet, at least until that was fixed...

[2019-07-27 12:04] serundeputy commented on #161
this is merged and shipped; https://github.com/backdrop-contrib/drush/pull/126 closing ... thanks @opi !

[2019-07-27 12:04] #161 closed

[2019-07-27 12:09] serundeputy commented on #134
Sorry about that @BWPanda ; no i did not fix the path issue.

I tried to look at it today, but I can't remember how to test `bmake` in lando :confounded:

I should have written down the devOps for bmake development :cry:

If you have the steps it takes we should dump them into a `/commands/make/README.md` file in case i forget again (very probable).

[2019-07-27 19:38] ghost commented on #134
@serundeputy Try this: https://github.com/BWPanda/drush-bmake-testing

If you want to keep it around for future, I'm happy to transfer it over to you, or you can merge it into the Drush repo if appropriate.

[2019-07-29 19:52] serundeputy commented on #134
thanks; that is essentially the same as what i have: https://github.com/backdrop-contrib/drush/wiki/Contributing-code-to-the-Backdrop-drush-extension. which is working fine, but not for `bmake`

I thought there was some additional hoop i had to jump through, but i'm drawing a blank, but if it is working for you then maybe i just need to destroy and start anew;

when i come by some time; i'll do th

[2019-07-30 03:14] ghost commented on #134
@serundeputy I remember trying to start with your dev lando file, but having issues... After playing around and changing things, I ended up with the one I linked to (e.g. the main difference being I still use the packaged version of Drupal Drush, but then the git repo version of Backdrop Drush).

Destroy all the things! 😊

[2019-08-01 20:04] jenlampton commented on #46
For others who need to use this: I have a local branch with this patch applied. My scripts switch to the sqlsan branch before running the sqlsan command and then switch back.

[2019-08-03 13:42] klonos opened #192 "`drush en` and `drush dl` not working"
I've also mentioned this on Gitter...

On a Mac, with latest ddev/docker:

[code]

...certain commands like `drush st` and `drush cc all` work w/o any issue, either via `ddev exec ...` or direct `drush` commands after `ddev ssh` into the environment:

[code]

[code]

...while `drush en` and `drush dl` do not work:

[code]

[2019-08-07 22:10] jenlampton opened #193 "drush rn formats output in HTML instead of markdown --md not recognized"
I've switched from using the 1.x-0.x branch of drush to 1.x-1.x but now my drush rn command has reverted back to the drupal style output. The list provided is in HTML instead of markup, and the links are to /node/XXX instead of github issues. I also tried using `--md` but got

[code]

Here's my setup, lmk if you see anything wrong:
[code]

[2019-08-07 22:17] jenlampton commented on #193
Update: I switched back to the `0.x` branch and now `drush rn` is not working for me either. I don't think I was previously running a patched version, so my guess is that I've broken something. Advice appreciated.

I checked the codebase and see code in `grn/grn.drush.inc` for `release-notes` but when I run `drush rn help` I get the following error:

[code]

[2019-08-12 23:18] jenlampton commented on #142
I'm getting `This command is not supported yet by Backdrop.` again...  I'm on HEAD for 1.x-1.x.

update: It works if I run it outside a backdrop site. From within a backdrop site, I get the error.

[2019-08-14 13:27] opi commented on #142
`drush sa` still works fine with HEAD on 1.x-1.x ... @jenlampton do you have a proper `path/to/docroot/drush/projectname.aliases.drushrc.php` file ?

[2019-08-14 21:51] jenlampton commented on #142
@opi yes, I think so. It lists all my site aliases from within a Drupal 7 docroot, so I must. On my computer it lives in `~/.drush/aliases/` though.

[2019-08-17 23:21] klonos commented on #192
Since I last posted this, I've updated ddev from 1.10.0 to 1.10.2, and now `drush dl` seems to work:

[code]

[code]
...

[code]

[code]

Still `drush en` fails if the module does not exist already, whereas in Drupal, it asks if you want to download the module, then downloads and enables it.

[2019-08-30 18:46] ghost commented on #73
@serundeputy The PR [was closed](https://github.com/backdrop-contrib/drush/pull/152#event-2463411030), but I'm not sure why... Do I need to do something to it, is the feature request denied (in which case this issue should be closed too), or was it a mistake?

[2019-09-15 12:59] klonos opened #195 "`drush si` succeeds, but throws "Can't connect to local MySQL server""
[code]

...but the site installation continues and completes successfully after that.

[2019-09-15 13:09] klonos opened #196 "Get drush `vget`/`vset`/`vdel` and `cget`/`cset`/`cdel` working with Backdrop"
...I am trying to automate setting up my local, and ended up doing this:

[code]
...whereas I would like to be able to do something like this instead:

[code]

In Backdrop, we may also need `sget`/`sset`/`sdel` for `state_get()`, `state_set()`, `state_del()`.

-----
PR: https://github.com/backdrop-contrib/drush/pull/212

[2019-09-15 13:32] serundeputy commented on #193
you want `drush help rn` not ~~drush rn help~~

[code]

here is `drush rn v1.0.0 v1.0.1` straight away:

[code]

which is html with github links.

here is `drush rn v1.0.0 v1.0.1 --md`:

[code]

which is markdown with github links.

[2019-09-20 20:01] BWPanda opened #197 "Allow downloading to '/modules' within multisite setup"
This is another multisite-related issue. Currently, I cannot run `drush dl [MODULE]` from the `/modules` folder (in order to make a module globally available to all sites). I get the following:

[code]

It'd be nice if it downloaded to `/sites/[SITE]/modules` if you ran it from within a site's folders, or defaulted to downloading to `/modules` otherwise.

I'm not sure if my running the command fro

[2019-09-25 18:52] ghost commented on #184
Or `backdrush`, which is what [Lando](https://docs.lando.dev/config/backdrop.html#configuration) calls it...

[2019-09-30 05:04] #193 closed

[2019-09-30 10:23] ghost commented on #197
Marking this as a bug as I was able to do the following:

- Setup new Backdrop instance
- Create a regular, non-multisite site using `/settings.php`
- Run `drush dl webform` from `/` directory (successfully downloaded Webform to `/modules`)
- Reset Backdrop instance (reverted changes to `/settings.php`, removed `/files/config_*`, removed `/modules/webform`)
- Create a multisite site using `/sites/

[2019-09-30 17:50] ghost commented on #197
It just occurs to me that Backdrop is quite different to D7 in how its multisite system works...

In Backdrop, if you don't have a multisite setup then you're using the `settings.php` in the root directory. If you do have a multisite setup then you're using `sites/sites.php` and the `settings.php` files in the various `sites/` directories.

In D7, regardless of whether you have a multisite setup o

[2019-09-30 18:12] serundeputy commented on #197
there is the [`b`](https://github.com/backdrop-contrib/b) that is a command line helper for backdrop from scratch if that is what you mean by drush lite.

[2019-10-09 07:16] BWPanda opened #198 "Mention Backdrop Console in README as an alternative"
I only know about [Backdrop Console](https://github.com/backdrop-contrib/b) because @serundeputy pointed it out to me. Maybe there are others who are using Drush but would find `b` more to their liking.

I propose mentioning Backdrop Console in Drush's README as an alternative people might like to consider...

[2019-10-09 07:40] ghost commented on #198
And here's a [PR](https://github.com/backdrop-contrib/drush/pull/199).

[2019-10-09 14:09] #198 closed

[2019-10-09 14:10] serundeputy commented on #198
@BWPanda you might consider putting a project node for `b` on backdropcms.org too for additional discoverability of `b`.

[2019-10-14 15:31] AlexShapka commented on #195
Having the same issue with running https://github.com/AlexShapka/altagrade-backdrop

[2019-10-16 17:24] alanmels opened #200 "Error: There is no release located at"
From https://github.com/backdrop-contrib/drush I've learned `drush dl` is supported, however running it gives for me:

[code]

Is something with my local Docksal environment or it doesn't work for everyone?

[2019-10-16 17:53] jackaponte commented on #200
Hi @alanmels! `drush dl devel` (and other modules I tested) is working for me in two different environments; I'm using Drush version 8.2.3 and Backdrop Drush commands version 1.x-1.x. Which version of each are you using? Might help pinpoint the issue you're experiencing.

[2019-10-16 18:07] alanmels commented on #200
Hi @jackaponte! Here is the output of `st`:

[code]

[2019-10-16 18:08] alanmels commented on #200
I'll upgrade my drush to 8.2.3 and run another test later and see if it works.

[2019-10-16 18:58] alanmels commented on #200
Now I have:

[code]

but it still does not see the correct location:

[code]

Now I've started wondering if something is wrong with Docksal's implementation of Backdrop Drush :(

[2019-10-16 19:55] alanmels commented on #200
Even with the latest Docksal CLI version the problem persists:

[code]

so I doubt it's about drush version anymore.

[2019-10-16 20:06] serundeputy commented on #200
@alanmels do the docksal containers have `wget` and/or `curl` installed on them?

[code]

if they are missing `wget` then `drush dl` will not work it'd be the wrong error message (bug), but it might be something to look at.

Also could be helpful to know where dockal puts the `backdrop-drush-extension` in `~/.drush`?

[2019-10-16 20:13] alanmels commented on #200
@serundeputy to ssh into the docksal container we simply run `fin bash`, and inside of the container both commands are present:

[code]

Docksal places the https://github.com/backdrop-contrib/drush in `/home/docker/.drush/backdrop/`:

[code]

[2019-10-16 20:34] alanmels commented on #200
I even tried to replace Docksal's implementation with freshly git-pulled repository:

[code]

and compared two directories to see some difference:

[code]

Unfortunately, the problem persists:

[code]

so I did:

[code]

[2019-10-16 21:19] alanmels commented on #200
I've traced the problem to the backdrop_pm_get_from_github() function returning empty content:

[code]

[2019-10-16 22:27] alanmels opened #202 "Remove the 1.x branch in explicitly set input in backdrop_pm.drush.inc"
The [line #127](https://github.com/backdrop-contrib/drush/blob/1.x-1.x/commands/pm/backdrop_pm.drush.inc#L127) of the `backdrop_pm.drush.inc` file uses explicitly set 1.x branch as part of a function input:

[code]

This won't work for the contributed modules which have 2.x branches, so this should be ideally re-worked to cover 1.x, 2.x, 3.x, and all the future n.x, n+1.x, etc branches.

[2019-10-17 05:37] alanmels opened #203 "Offer dev branch for downloading in case if there is no official release"
Running the `drush dl pwa` command gives:

[code]

Indeed there is no release for the module at https://github.com/backdrop-contrib/pwa/releases. However, there is a development branch 1.x-1.x with a zip-file at https://github.com/backdrop-contrib/pwa/archive/1.x-1.x.zip. So instead of explicitly setting the download address to `https://github.com/backdrop-contrib/$project/releases/download/$lates

[2019-10-17 09:32] AlexShapka commented on #184
@serundeputy, `backdrop-drush-extenstion` is an obvious, though a bit long, name. So if possible please consider `brush` instead. As discussed on https://github.com/backdrop-contrib/b/issues/59 I believe `bacon` should go to `Backdrop Console` and `brush` to `Backdrop Drush Extension`, then we would end up having very distinctive and appealing names for both projects.

[2019-10-17 11:04] AlexShapka commented on #200
This can be disregarded per https://github.com/backdrop-contrib/drush/pull/201#issuecomment-543120943

[2019-10-17 17:22] greg-1-anderson commented on #184
I think that `brush` also sounds like a standalone tool, to me at least. It does not matter how long a plugin name is, as you only have to deal with that at install time. I'd recommend you leave this `backdrop-drush-extension`, and pick the name you like for the standalone tool.

[2019-10-17 17:37] jackaponte commented on #200
From #201

Ya know, I thought to ask whether it could be some sort of connectivity issue; should have done so! Thanks for clearing things up, @AlexShapka,

[2019-10-17 18:07] alanmels commented on #200
Totally mea culpa. Should've checked the networks before putting so much efforts to this in vain.

[2019-10-17 18:32] jackaponte commented on #200
No worries @alanmels, glad you've gotten that sorted!

[2019-10-17 19:43] alanmels commented on #200
On the other hand, I've run additional tests today and detected that even with our firewall completely taken off, the `drush dl module` works only occasionally with Backdrop Drush 1.0.0  installed. However, the same command always succeeds with Backdrop Drush 1.x-1.x installed.

Not sure if we should re-open the issue, but decided to report just for future references if someone else hits the same

[2019-10-17 19:49] serundeputy commented on #200
all bugs should be reproducible on latest `1.x-1.x` if it works there than it works and no bug report is needed.

[2019-10-19 11:16] serundeputy commented on #202
@alanmels thank you for raising this issue.

This URL https://updates.backdropcms.org/release-history/$project/1.x Is litterally tracking the release history for modules that claim backdrop `1.x` compatibility as in their `*.info` files.

[code]

So for example `webform` has HEAD on branch `1.x-4.x` but drush only cares about the `1.x` which is indicating the backdrop core compatibility of that mo

[2019-10-19 11:16] #202 closed

[2019-10-19 11:19] serundeputy commented on #203
@alanmels this is a great idea and will be handled in https://github.com/backdrop-contrib/drush/issues/107

closing as duplicate.

[2019-10-19 11:19] #203 closed

[2019-10-21 22:32] herbdool opened #204 "Add support for drush user-add-role"
Duplicate functionality of https://drushcommands.com/drush-8x/user/user-add-role/

[2019-10-22 20:16] serundeputy opened #205 "Add a drush content-type-list command."
`drush ctl`
  * list the content types on the site

`drush ctl page`
  * list the details of the page content type

`drush ctl page --fields`
  * list the fields on the page content type

`drush ctl page --field=body`
  * list the details of the body field on the page content type

[2019-10-22 20:54] serundeputy commented on #205
Added in https://github.com/backdrop-contrib/drush/pull/206

[2019-10-22 20:54] #205 closed

[2019-11-05 01:01] totten commented on #204
I'm certain there's a better PHP function to call (e.g. firing any needful hooks) -- but just as a reference point, for [civicrm infra/ops#906](https://lab.civicrm.org/infra/ops/issues/906), we used this SQL as quick-n-dirty work-around:

[code]

(*Adapted from [backdrop-demo/install.sh @ 8b2067f](https://github.com/civicrm/civicrm-buildkit/blob/8b2067f/app/config/backdrop-demo/install.sh#L48-L49)

[2019-11-22 08:20] ghost commented on #75
@serundeputy @jenlampton I don't see any code for running updates... Am I missing something?

[2019-11-22 09:56] jenlampton commented on #75
~running updates... you mean like `drush updb`?~
edit: I just read my previous comment...  and edited it so I wouldn't be confused next time :)

[2019-11-22 10:23] ghost commented on #75
I'm sorry, I still don't see where there'd be any schema changes being made...

All I see is it gets the appropriate directories, gets a diff of the changes, shows the diff in a table, confirms to make the change, then copies the files...

What am I missing?

[2019-11-22 17:22] ghost commented on #75
I think I worked it out... `config_sync_file()` in https://github.com/backdrop/backdrop/blob/1.x/core/modules/config/config.sync.inc#L203 includes invocations of `config_create/update/delete` hooks. I don't think Drush does this, so if a module implements `hook_config_create()`, it won't get called.

[2019-11-22 17:33] serundeputy commented on #75
seems like it will have to play a part, but i have to look at that more carefully before deciding what and how to implement it.

thanks for digging that up

[2019-11-24 22:38] stpaultim opened #207 "Drush ULI - allow user to change password for user #1"
We just got a comment in the forum about the fact that Drush ULI does not allow the user to change their password after login.
https://forum.backdropcms.org/forum/using-drush-uli-reset-admins-password-doesnt-work-correctly#comment-1491

It looks like this MIGHT be intentional or only partially implemented. In this issue: https://github.com/backdrop-contrib/drush/issues/16 @quicksketch makes a comm

[2019-11-24 23:32] stpaultim commented on #207
Thanks @serundeputy for clarification.

It would appear that ```drush upwd``` is the correct command to update a users password and that in fact ```drush uli``` is not supposed to provide this option. It's purpose is only a one time user login link.

Closing this ticket.

[2019-11-24 23:32] #207 closed

[2019-11-24 23:49] stpaultim opened #208 "Change README file to better help users with available commands"
I am one of those "developers" that seldom uses the ```help``` option for commands when using the CLI. I should make better use of this resource, but in the past as I was getting started, this page often just confused me.

I tend to look at the list of available commands on the README file for drush and forget that there are apparently many more commands supported.

I think it would be great if we

[2019-11-24 23:55] stpaultim commented on #208
I just submitted https://github.com/backdrop-contrib/drush/pull/209

But, in looking closer at `drush help` - it would appear that it is still listing many Drupal specific commands that may or may not work with Backdrop. Do I understand that correct?

Should we just try and keep the README up to date?

If so, what other commands should be listed?

[2019-11-24 23:57] serundeputy commented on #208
bcex, bcim, bp, dlb, en, dis, pml

[2019-11-25 00:11] serundeputy commented on #208
ctl

[2019-11-25 00:20] stpaultim commented on #208
@serundeputy - What is ```ctl```. It didn't work for me and ```drush ctl --help``` gave me nothing.

[2019-11-25 00:21] stpaultim commented on #208
I've updated the PR with all suggestions except ctl and reorganized them in groupings/order that make sense to me (the best criteria), happy to hear feedback on alternative organization of the list.

[2019-11-25 00:22] serundeputy commented on #208
You want drush help ctl

[2019-11-25 00:22] serundeputy commented on #208
ctl is only available in >= 1.1.0

[2019-11-25 00:27] stpaultim commented on #208
So, I'm working with Lando and the following default recipe:

[code]

How do I tell it to use Drush 1.1.0?

[2019-11-25 00:27] serundeputy commented on #208
I think pmu works too

[2019-11-25 00:28] serundeputy commented on #208
In the config section add

backdrush: 1.1.0

[2019-11-25 00:55] stpaultim commented on #208
Thanks. I had to destroy and restart lando environment (rebuild did not work). But, I got it working.

[2019-11-25 01:03] stpaultim commented on #208
OK, finally finished making a change before you managed to suggest another addition! ;-)
Done for tonight. See updated PR.

[2019-11-25 13:03] serundeputy commented on #208
merged: https://github.com/backdrop-contrib/drush/pull/209
thanks @stpaultim !

[2019-11-25 13:03] #208 closed

[2019-11-25 21:38] rroseselavy42 opened #210 "Drush dl sometimes does not pick up version"
Hey folks,
Have a strange intermittent issue where drush dl will sometimes not pick up the latest version of a backdrop module.  Instead it will give me an error such as below
[code]
this only happens intermittently and mostly when run scripted.

[2019-11-26 12:39] ghost commented on #109
I'm having an issue where uninstalled module's config files are still showing up when I export config using drush.

I think the problem (at least for me) is that drush isn't emptying the 'staging' folder first, so the old config files are still there after the exported ones are added in.

I know there's code in drush to empty the staging folder on export, but it looks like there's a bug and it's n

[2019-11-26 13:02] serundeputy commented on #210
thanks for reporting this @rroseselavy42

We have had other reports of the `dl` command intermittently failing ... let's try to nail it down and fix it here.

[2019-11-26 13:17] serundeputy commented on #210
looks like I'm `curl`ing to a reg github url instead of the github api

https://github.com/backdrop-contrib/drush/blob/1.x-1.x/commands/pm/backdrop_pm.drush.inc#L121
[code]

We should fix this to hit the API instead so redirects won't fail the `dl` command. Something like this:

[code]

then refactor to parse the json result.

[2019-11-26 13:22] ghost commented on #109
Hacking drush to use this code instead works for me:

[code]

[2019-11-26 13:24] ghost commented on #109
Ah heck, here's a PR (made via the GitHub UI): https://github.com/backdrop-contrib/drush/pull/211

[2019-11-26 13:26] serundeputy commented on #109
this is great! thanks so much; I'll need to test it; and I should see what if any tests I have going on for `bcim` and `bcex`, but I won't let that hold up this bug fix.

[2020-01-12 11:36] TheMetMan commented on #196
I would like to be able to put the site into maintenance mode from scripts using Drush as per Drupal 7

[2020-01-15 18:28] serundeputy commented on #196
I did a little digging on this and setting maintenance mode in backdrop is a `state_set` so we'd need the drush state-set wrapper to get this working.

[2020-01-18 21:40] serundeputy commented on #196
Added state-set, state-get, config-set, and config-get in https://github.com/backdrop-contrib/drush/pull/212

@TheMetMan you can now put the site in maintenance_mode with drush:

[code]

This is in backdrop-drush `1.x-1.x` and will ship with drush `1.2.0`

[2020-01-18 21:40] #196 closed

[2020-01-18 21:43] #109 closed

[2020-01-18 21:44] serundeputy commented on #109
merged will ship with `1.2.0`. thanks @BWPanda !

[2020-01-18 21:59] TheMetMan commented on #196
Well what service @serundeputy!!! Much obliged.

[2020-01-30 14:38] rfay opened #213 "Support `drush --version` (and `drush version)"
I was trying to test that we got latest extensions into ddev.

[code]

It would be super nice if instead of hiding the normal `drush version` result with a "not supported" it would show backdrop extensions version in addition to drush version.

I really like how drush launcher does this, reporting
[code]

[2020-01-30 17:56] serundeputy commented on #213
Hello @rfay thanks for bringing up this issue.

PR: https://github.com/backdrop-contrib/drush/pull/214

You can now get the versions of Drush proper and the Backdrop Drush Extension with `drush version` or `drush --version`.

[code]

Honorable mention `drush st;` also returns the two versions plus other status info:

[code]

[2020-01-30 17:59] serundeputy commented on #213
This is merged and available in `1.x-1.x` will ship with `1.3.0`.

[2020-01-30 17:59] #213 closed

[2020-02-09 08:21] ghost commented on #197
@serundeputy As I'm now focused on `b` development I'm not going to get back to this. Feel free to close if  no one else needs multisite support, or unassigned me if not 🙂

[2020-02-09 08:22] #73 closed

[2020-02-09 15:38] serundeputy commented on #73
@BWPanda sorry didn't clarify when i was cleaning up the queue, for posterity here are my thoughts.

Ultimately I just don't find that definition of `lost` very useful. So from my perspective that form of the lost command should live in drush contrib as an extension.

I think a better course of action would be to enhance the `pml` command to be able to filter by `core`, `enabled`, and `disabled`.

[2020-02-09 15:40] serundeputy commented on #197
@BWPanda thanks! totally understandable.

Closing as there is no dev bandwidth for this currently; we can re-open or start fresh if dev cycles and priorities change in the future.

[2020-02-09 15:40] #197 closed

[2020-02-11 16:28] bradbulger commented on #210
I'm getting an error today from drush dl:

Module is already installed ... exiting without re-writing module. [error]

Normally it would get the new version of the module (entity_plus in this case) and ask me if I want to overwrite the existing version. Whether a module is installed or not shouldn't matter, but I assume by "installed" it means "exists on the file system".

[2020-02-11 17:15] serundeputy commented on #210
@bradbulger if you are trying to update a module you should use `drush up entity_plus`

[2020-02-11 17:36] bradbulger commented on #210
Sometimes you don't want to update, though. You want to download a different version from what's there. I can get around it by removing the directory, I just thought I remembered it working. I guess I must have been thinking of my experience using it with Drupal, where it will overwrite the existing directory after prompting (or with the -y flag). I believe this was a conversation at one point, ar

[2020-02-11 17:39] serundeputy commented on #210
@bradbulger file a new issue as a feature request please.

[2020-04-05 22:38] stpaultim opened #216 "Drush dlb is not working"
I don't usually use Drush to download Backdrop, but I'm trying today.

Tried it `drush dlb` alone and using lando `lando drush dlb` and in both cases I got the following error.

`Missing required argument: module-name.  See `drush help download-backdrop` for information on usage.`

[2020-04-06 02:10] serundeputy commented on #216
You need:

[code]

[2020-04-06 02:18] serundeputy commented on #216
You can also see how to use any command with:

[code]

In this case:

[code]

[2020-04-06 02:22] stpaultim commented on #216
Should the Readme file show this in full - as per my PR?

[2020-04-06 11:40] serundeputy commented on #216
Thanks @stpaultim !

I think the README.md change is a good one. Merged: https://github.com/backdrop-contrib/drush/pull/217

[2020-04-06 11:40] #216 closed

[2020-04-10 03:58] klonos opened #218 "Pretty terminal font colors for `drush cset`"
I have a script that sets up my local when working on Backdrop issues. At the very end of it, I have a series of `drush cset` commands, and the way they are being output on the terminal (white font on black) makes it hard to distinguish which settings have been set to what values:

![Screen Shot 2020-04-10 at 6 51 34 am](https://user-images.githubusercontent.com/2423362/78960975-68fb5000-7af8-11ea

[2020-04-10 04:05] klonos commented on #218
...or perhaps we should introduce a `drush_colorize_output($output, $color)` function to be re-used in other places?

[2020-04-10 13:25] serundeputy commented on #218
I like it just need some time to pull it down and test it.

[2020-04-11 03:46] #218 closed

[2020-04-11 03:48] serundeputy commented on #218
@klonos thanks this is great!

I changed the color from `96m` to `32m` as that is what is used elsewhere in backdrop-drush-extension, which lends itself to the idea of `drush_colorize_output` being a good one, i'd ask you to open a feature request for that.

[2020-04-11 04:31] serundeputy commented on #184
@greg-1-anderson I was avoiding this trying to figure out how it would effect downloads and packagist, but i've finally renamed to `backdrop-drush-extension` and i'll just deal w/ whatever fallout occurs as it comes in.

thanks for all your help! need to give props to `drush-ops/drush` proper and respect the name and that this is and extension.

closing.

[2020-04-11 04:31] #184 closed

[2020-04-11 04:50] serundeputy commented on #177
I'd recommend using lando or an alias like this as a workaround: https://howtobackdrop.com/vid/enabling-and-running-tests-simpletest-module

[2020-04-11 05:28] klonos opened #220 "Introduce a new `drush_colorize_output()` function, to help consistently add color to output text."
This came up in #218:

[2020-04-11 05:28] klonos commented on #218
Done: #220

[2020-04-11 05:35] klonos commented on #218
![Screen Shot 2020-04-11 at 8 33 42 am](https://user-images.githubusercontent.com/2423362/79036257-2fe1df00-7bcf-11ea-924e-eaace654bd94.png)

[2020-04-11 19:31] serundeputy commented on #220
thanks @klonos !
PR: https://github.com/backdrop-contrib/backdrop-drush-extension/pull/221

Added a `drush_chalk(string $output, string $color)` to format pieces of output strings.

I went with `drush_chalk` because it is not just color it can make text bold and anything you can do with trerminal formatting.

Here is an example:

![image](https://user-images.githubusercontent.com/6763671/79053203-

[2020-04-11 19:33] serundeputy commented on #220
Merged. this will ship w/ `1.4.0`.

[2020-04-11 19:33] #220 closed

[2020-05-19 18:14] BWPanda opened #223 "`bcim` copies non-config files too"
I'm working on B.org and when I import config from staging, I get a new README file in `dev-active`. It's the README from the `staging` directory (so it's contents don't make sense when read from the `dev-active` directory). I have to just remove it before committing changes, but it'd be nice if instead drush's `bcim` only copied config files over (e.g. `*.json`). Would that be possible?

[2020-05-19 18:17] serundeputy commented on #223
sounds possible.

what `bcim` really needs to do is leverage the Backdrop config import api to run the necessary DB ops as well: https://github.com/backdrop-contrib/backdrop-drush-extension/issues/162

right now `bcim` is strictly a file system operation which is great compared to nothing, but if you add a new field to a content type for example Backdrop will not know about that.

I think if `bcim

[2020-05-19 18:27] serundeputy commented on #223
that being said, i'm not opposed to trying to fix this if it is easier then #162 as an interim stop gap.

[2020-05-19 18:43] ghost commented on #162
Is this related to https://github.com/backdrop-contrib/backdrop-drush-extension/issues/75#issuecomment-557619138 ?

[2020-05-19 18:53] serundeputy commented on #162
yes.

[2020-05-25 23:56] serundeputy opened #224 "Write tests for `drush sb`."
added a `subtheme-basis` drush command. Need to write tests for it.

[2020-05-26 03:46] serundeputy commented on #224
fixed: 0686452b800394c8cf0f800730b6949da952adb6

[2020-05-26 03:46] #224 closed

[2020-05-27 04:16] serundeputy commented on #153
I think this https://github.com/backdrop-contrib/backdrop-drush-extension/pull/158/files corrected this issue.

closing. re-open if i'm incorrect.

[2020-05-27 04:16] #153 closed

[2020-06-12 16:02] klonos opened #227 "Cannot execute drush uli with [username|UID] as parameter"
These work:

`drush uli` (default to UID 1)
`drush uli --uid=2`
`drush uli --name=user`
`drush uli --nmail=some@email.com`

These do not work in Backdrop (no error - no output), whereas they work in Drupal:

`drush uli 2`
`drush uli user`

I am not sure if they ever worked in Backdrop, but if we regressed at some point, then most likely would be with #156

[2020-06-12 18:42] jackaponte commented on #227
AFAIK those have never worked!

[2020-06-12 19:27] serundeputy commented on #227
Yep. they never worked; I was not aware of them. We can make them work.

[2020-06-19 19:55] halofx opened #228 "Config Versioning removed on BCEX with Lando"
When executing `lando drush bcex`, the .git repo is deleted with all the old config on export.

It has been 3-4 months since I had to do a config export on a Backdrop site, so I don't know which Drush version or extension version Lando was using at the time.

I am using the Versioned Staging method for config management, the Drush and extension versions provided by Lando default.
Lando 3.0.6
Drush

[2020-06-20 15:33] serundeputy commented on #228
@halofx thanks for reporting.

Are you just versioning the `staging` directory or separately versioning the `staging` directory?

If that is the case it makes sense that the `.git` directory is deleted (usually folks do not have a `.git` in there `staging` directory.

`drush bcex` needs to respect configuration additions and deletions and the way it does that is to remove the current `staging` dir

[2020-06-21 17:02] halofx commented on #228
Thank you for the reply. Yes, I have a `.git` in `config/staging` , and in `BACKDROP_ROOT`, and had been tracking the two separately. So working off the presumption that `BCEX` now deletes the whole `staging` directory, then I do need to rework my versioning strategy. It did seem like previously `BCEX` didn't wipe out all the files, but just copied them, as I would have issues that needed manual a

[2020-06-21 17:02] #228 closed

[2020-06-22 15:52] serundeputy commented on #228
@halofx here is how i do it: https://howtobackdrop.com/posts/backdrop-cms-project-starter

[2020-06-22 18:58] halofx commented on #228
Thank you! These kind of examples are very helpful.

[2020-07-02 19:29] rfay opened #229 "`drush --version` shows branch instead of version"
[code]

Note that it shows 1.x-1.x (the branch) instead of the actual downloaded release (1.4.0)

[2020-08-04 21:09] jenlampton opened #230 "Drush complains about missing Drupal 9 files"
On my backdrop sites drush is able to properly download backdrop modules, so it knows this is a backdrop site, yet if I try to `drush cc all` I get

[code]

`> drush --version`
Drush proper version: 8.3.0
Backdrop Drush Extension version: 1.x-1.x

[2020-10-01 15:50] bugfolder commented on #182
FWIW, I just encountered this same error, and disabling civicrm made it go away. (Though re-enabling civicrm brought it back.)

[2020-10-01 16:23] laryn commented on #182
Strange, I am using drush on a number of sites that run civicrm and am not seeing this. Which command in particular causes the error, @bugfolder?

[2020-10-01 16:25] bugfolder commented on #182
It was drush dis, also drush pmu.

[2020-11-15 21:38] ghost opened #231 "'version' bootstrap issue"
The `version` command doesn't work properly:

[code]

This also cases an issue in Lando: https://github.com/lando/lando/issues/2695

[2020-11-15 21:41] ghost commented on #231
Simple fix: https://github.com/backdrop-contrib/backdrop-drush-extension/pull/232

[2020-12-14 16:47] herbdool opened #234 "Unable to load class Drush\Sql\Sql"
I tried running `drush sql-conf --all` and it gives me "Unable to load class Drush\Sql\Sql"

[2020-12-19 23:27] stpaultim opened #235 "Password provided by 'drush si' doesn't work"
I'm testing drush si to go through the site installation process and it seems to work. However, at the end, it provides with login credentials that don't work.

I'm using lando and downloaded Backdrop with 'drush dlb backdrop --path=backdrop'

'lando drush si --db-url=mysql://backdrop:backdrop@database/backdrop'

[2020-12-20 14:06] serundeputy commented on #235
Thanks Tim; I think this is a dupe of https://github.com/backdrop-contrib/backdrop-drush-extension/issues/151

for now to work around you can use `drush uli` to login to the site.

[2020-12-20 19:55] stpaultim commented on #235
Understood. Thanks.

[2020-12-20 19:55] #235 closed

[2021-01-07 23:31] stpaultim opened #236 "Drush is recommending "Preview" release over latest bug-fix release"
A user just reported in the forum that upon running `drush up core` drush is recommending  the preview release of 1.18 instead of 1.17.4, which is the expected update version prior to release of 1.18.

https://forum.backdropcms.org/comment/2533#comment-2533

[code]
"I was expecting version 1.17.4
Why is that? I cannot see any way to make it get the security version."

[2021-01-08 03:00] serundeputy commented on #236
You can use the `--select` flag to work around this.

https://github.com/backdrop-contrib/backdrop-drush-extension/issues/164#issue-440902089

[2021-01-09 00:27] klonos opened #237 "Add support for `drush ups` / `drush pm-updatestatus`"
[code]

[2021-01-09 00:37] klonos commented on #231
Trying to review pending PRs, I have to say that I've never had issues with (`lando`) `drush version`. How do I reproduce this @BWPanda?

[2021-01-09 01:48] ghost commented on #231
@klonos Steps to reproduce (replace `test` below with something else if you already have a Lando instance with that name):

1. `mkdir test && cd test`
2. `lando init`
[code]
3. `lando start` - note that Lando starts without any errors
4. `lando drush version` - note the error:
[code]
5. `lando rebuild` - note the errors this time:
[code]

Subsequent `lando rebuild` causes the same error to be disp

[2021-01-09 10:46] klonos commented on #231
Thanks @BWPanda ...I was able to reproduce.

I almost never rebuild my local lando; I always build once, then destroy when done. Perhaps that's why I never noticed this issue before.

Anyway, I know that you can do something like so:

[code]

And get to test the latest changes _committed_ to the 1.x branch of this project, but how do I actually get to test PRs?

[2021-01-09 11:47] ghost commented on #231
To test this PR, add the following to your `.lando.yml` file:

[code]

After doing so and running `lando rebuild` (may need to run that command twice), I can successfully run `lando drush version` without errors, and then rebuilding happens without errors too.

[2021-01-18 23:28] ghost commented on #231
@serundeputy @quicksketch Any chance this can get approved and merged, or does this quality as something the @backdrop-contrib/bug-squad can do...?

[2021-01-18 23:34] jenlampton commented on #231
Bug-squad can merge it if it has been RTBC for two weeks. We need someone else to review + confirm it works if not @serundeputy or @quicksketch

[2021-01-19 00:18] ghost commented on #231
@jenlampton Ah ok, thanks.

@klonos How'd you go with this? Were you able to confirm the PR works to fix the bug?

[2021-01-19 11:58] klonos commented on #231
Sorry for the late response here, and thanks for pinging me on Zulip @BWPanda 🙏 ...I've tested the PR on my local, and I am no longer able to reproduce the problem ...running `lando drush version` does not throw any errors before or after `lando rebuild` 👍 ...RTBC!

[2021-01-23 16:10] serundeputy commented on #236
dupe

[2021-01-23 16:10] #236 closed

[2021-01-23 16:43] serundeputy commented on #231
@BWPanda @klonos this is not working for me

I've tried
  * checking out the PR branch against backdrop-drush-extension
  * applying the patch method via https://github.com/backdrop-contrib/backdrop-drush-extension/issues/231#issuecomment-757137785
  * and applying the patch against backdrop-drush-extension 1.x-1.x

Each `lando rebuild -y` is still throwing errors for me.

[code]

I've run out of

[2021-01-23 21:10] ghost commented on #231
@serundeputy Weird. Definitely works for me. Here's the Lando config I'm using:

[code]

I start Lando with that config then run `lando drush version` and it displays the error. I rebuild and it has an error during rebuild too. Running the same command after rebuild still errors. Then I uncomment the two commented lines in the Lando config and rebuild again. It still shows the rebuild error, but o

[2021-01-24 02:14] ghost commented on #231
I just updated the PR to change `DRUSH_BOOTSTRAP_DRUSH` to `DRUSH_BOOTSTRAP_NONE`, since the latter is an official [bootstrap phase](https://github.com/drush-ops/drush/blob/8.x/docs/bootstrap.md), and more widely used in other Backdrop Drush commands.

Even without reproducing the problem and testing the PR, I think it's clear that this change is necessary and worthwhile... As per the [documentati

[2021-01-24 02:23] ghost opened #238 "Use DRUSH_BOOTSTRAP_NONE in favour of DRUSH_BOOTSTRAP_DRUSH"
There are two mentions of `DRUSH_BOOTSTRAP_DRUSH` in this repo, yet the main Drush repo specifies `DRUSH_BOOTSTRAP_NONE` as the bootstrap phase to use for non-boostrapped commands. Indeed, 5 other commands in *this* repo use `DRUSH_BOOTSTRAP_NONE`. So we should change the two instances of `DRUSH_BOOTSTRAP_DRUSH` to `DRUSH_BOOTSTRAP_NONE` instead.

[2021-01-24 16:18] klonos commented on #231
Thanks for doing that extra research and providing all that info @BWPanda 👍 ...it all makes sense, and with @serundeputy's blessing, I've merged this into 1.x-1.x

[2021-01-24 16:30] klonos commented on #231
Good news: I've tested things again on some of my local sandboxes (all of which use `backdrush: 1.x-1.x`), and I confirm that there are no errors when running `lando drush version` after rebuild 👍

Bad news: I've also tested with the steps provided in https://github.com/backdrop-contrib/backdrop-drush-extension/issues/231#issuecomment-757075607 (without any codebase present - backdrop or otherwise

[2021-01-25 00:06] ghost commented on #231
I imagine that's because that setup doesn't specify `backdrush: 1.x-1.x` and so uses the default version of Backdrop's Drush, which seems to be [1.4.0](https://github.com/lando/lando/blob/546051ef6915653808db87abfa8c8244f195c97e/plugins/lando-recipes/recipes/backdrop/builder.js#L48). To fix that, we'd need @serundeputy to make a new release for Backdrop's Drush, then ask Lando to update their defa

[2021-02-02 09:22] indigoxela opened #240 "Travis checks failed"
Seems to happen because of the composer version:

[code]
More info:
[code]
Possible solution (didn't test): `composer self-update --1`

[2021-02-04 19:47] jenlampton opened #241 "Provide these drush commands in a module (for use on Pantheon)"
I would like the Pantheon dashboard to work on Backdrop sites. Since the fine folks at Pantheon are not willing to fix the issues on their end, I think we should try to fix them in the Backdrop upstream.

We could do this by providing a Pantheon module that includes the drush commands, or we could experiment with their example commnds, and see if we can get them working this way:
https://github.co

[2021-03-28 10:43] ghost commented on #227
I just noticed this today and was going to file an issue. The code for using the provided username is simply missing from the command. There are checks to see if it's empty, or if the `--` options are provided (which take precedence), but none if it actually *is* provided...

[2021-04-21 21:08] klonos commented on #182
I confirm both `drush dis` and `drush pmu` having this issue:

[code]

[code]

[2021-04-21 21:23] laryn opened #242 "Spelling mistake "Sucess""
In this line:

 - https://github.com/backdrop-contrib/backdrop-drush-extension/blob/1.x-1.x/commands/pm/backdrop_pm_enable.drush.inc#L127

[2021-04-21 21:48] #242 closed

[2021-08-16 14:47] klonos opened #246 "Allow `drush site-install` to save db credentials, active/staging config directories, and hash_salt in settings.local.php"
Backdrop core already supports reading configuration from a `settings.local.php` file (see https://github.com/backdrop/backdrop/blob/1.x/settings.php#L458), although there's no such file shipped with core OOTB - it needs to be created manually.

Drush currently supports this:

[code]

Additionally, I would like to be able to do something like this:

[code]

This would allow the `settings.php` file